.casino {
  background: $white;

  &__container {
    padding: 20px 15px 30px 15px;
    position: relative;

  }

  &__breadcrumbs {
    display: flex;
    align-items: center;
    margin: 0 0 20px 0;

    &-link {
      display: inline-block;
      position: relative;
      font-size: 12px;
      line-height: 20px;
      color: $blue-white;
      transition: color $transition;

      &:hover {
        color: $blue;
      }

      &:last-child{
        cursor: default;
        &:hover{
          color: $blue;
        }
      }

      &:not(:last-child) {
        margin: 0 18px 0 0;

        &::before {
          content: '•';
          position: absolute;
          font-size: 12px;
          line-height: 20px;
          color: $grey;
          right: -11px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__info {

    &-wrap {
      display: flex;
      align-items: center;
      margin: 0 15px 0 0;
    }

    &-image {
      width: 200px;
      height: 97px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 20px 0 0;
      padding: 15px;
      border: 1px solid $grey-border-pay;
      border-radius: 4px;
    }

    &-play {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      max-width: 550px;
    }

    &-title {
      font-family: $font-popins-semb;
      font-size: 22px;
      line-height: 22px;
      color: $blue;
      margin: 0 0 10px 0;
    }

    &-reviews{
      display: flex;
      align-items: center;
      margin: 0 0 10px 0;
      &-text{
        font-family: $font-popins-semb;
        font-size: 10px;
        line-height: 18px;
        color: $black-one;
      }
      &-star,
      &-comment{
        display: flex;
        align-items: center;
        border: 1px solid $yellow;
        border-radius: 100px;
        padding: 2px 7px;
        img{
          display: inline-block;
          margin: 0 15px 0 0;
        }
      }
      &-star{
        margin: 0 5px 0 0;
      }
    }

    &-text {
      font-size: 14px;
      line-height: 20px;
      color: $blue-white;

      span {
        font-family: $font-popins-semb;
      }
    }


    &-country {
      max-width: 200px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      &-wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }

      &-name {
        display: flex;
        align-items: center;
        margin: 0 0 8px 0;

        img {
          border-radius: 50%;
          margin: 0 10px 0 0;
        }

        &-txt {
          font-size: 12px;
          line-height: 22px;
          color: $blue-white;
        }
      }

      &-create,
      &-update {
        font-size: 12px;
        line-height: 22px;
        color: $blue-white;
      }

      &-create {
        margin: 0 0 8px 0;
      }

      &-update {
        margin: 0 0 12px 0;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .casino {
    padding: 10px 0 20px 0;
    &__container {
      padding: 5px 0 0 0;
    }

    &__breadcrumbs{
      padding: 0 15px;
    }

    &__row {
      padding: 0 15px;
      flex-direction: column;
      align-items: flex-start;
    }

    &__info {
      flex-direction: column;
      align-items: stretch;

      &-wrap {
        margin: 0 0 20px 0;
      }

      &-image {
      }

      &-country {
        flex-direction: row;
        max-width: 100%;

        &-wrap {
          align-items: center;
          flex-direction: row;
        }
        &-name,
        &-create{
          margin: 0 15px 0 0;
        }
        &-update{
          margin: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .casino {
    background: $white;

    &__breadcrumbs {
      margin: 0 0 20px 0;
      &-link {
        font-size: 10px;
        line-height: 20px;
      }
    }

    &__row{
      align-items: stretch;
    }

    &__info {

      &-title{
        font-size: 16px;
        line-height: 20px;
        margin: 0 0 5px 0;
      }
      &-text{
        font-size: 12px;
        line-height: 20px;
      }

      &-image {
        margin: 0 15px 0 0;
        max-width: 100%;
        width: 100%;
        flex: 1 1 auto;
      }

      &-play {
        min-width: 170px;
        &-wrap {
          flex-direction: column;
          align-items: flex-start;
        }

      }

      &-title {
        margin: 0 0 2px 0;
        font-size: 17px;
        line-height: 26px;
      }

      &-reviews{
        &-text{
          font-size: 10px;
          line-height: 15px;
          white-space: nowrap;
        }
      }

      &-country {
        align-items: center;

        &-wrap {
          flex: 1 1 auto;
        }

        &-name {
          &-txt {
            font-size: 10px;
            line-height: 14px;
          }

          img {
            margin: 0 5px 0 0;
          }
        }

        &-create {
          font-size: 10px;
          line-height: 14px;
        }

        &-update {
          font-size: 10px;
          line-height: 14px;
        }
      }

    }
  }
}