.review{
  order: 1;
  padding: 30px;
  background: $white;
  border-radius: 8px;
  margin: 0 0 20px 0;
  &__title{
    margin: 0 0 10px 0;
  }
  &__text{
    font-size: 14px;
    line-height: 26px;
    color: $black-one;
    margin: 0 0 20px 0;
  }

  &__list{
    display: flex;
    flex-direction: column;
  }

  &__item{
    border-top: 1px solid $green-light;
    font-size: 14px;
    line-height: 21px;
    color: $blue-white;
    display: grid;
    padding: 20px 0;
    grid-template-columns: 40% 60%;
    gap: 15px;
    &-info{
      color: $blue;
    }
    &:last-child{
      border-bottom: 1px solid $green-light;
    }
  }
}

@media screen and (max-width: 1024px) {
  .review{
    padding: 20px 15px 20px;
    border-radius: 0;
    margin: 0 0 40px 0;
  }
}

@media screen and (max-width: 600px) {
  .review{
    &__title{
      margin: 0 0 20px 0;
    }
    &__text{
      font-size: 14px;
      line-height: 26px;
      margin: 0 0 25px 0;
    }


    &__item{
      grid-template-columns: 50% 50%;
      padding: 12px 0;
      font-size: 12px;
      line-height: 18px;
    }
  }
}