.casino {
  background: $white ;
  position: relative;
  &__wrap{
    overflow: hidden;
  }
  &__container{
    padding: 20px 15px 50px 15px;
    position: relative;

  }

  &__breadcrumbs {
    display: flex;
    align-items: center;
    margin: 0 0 20px 0;

    &-link {
      display: inline-block;
      position: relative;
      font-size: 12px;
      line-height: 20px;
      color: $blue-white;
      transition: color $transition;

      &:hover {
        color: $blue;
      }

      &:last-child{
        cursor: default;
        &:hover{
          color: $blue;
        }
      }

      &:not(:last-child) {
        margin: 0 18px 0 0;

        &::before {
          content: '•';
          position: absolute;
          font-size: 12px;
          line-height: 20px;
          color: $grey;
          right: -11px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }

  &__row{
    display: flex;
    align-items: center;
  }

  &__info {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    position: relative;

    &-image {
      max-width: 230px;
      margin: 0 30px 0 0px;
      img{
        border-radius: 4px;
      }
    }

    &-play {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &-title {
      font-family: $font-popins-semb;
      font-size: 22px;
      line-height: 25px;
      color: $blue;
      margin: 0 0 10px 0;
    }

    &-licensed {
      display: flex;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: -0.004em;
      color: $blue;
      margin: 0 0 5px 0;
      &-one{
        margin: 0 5px 0 0;
      }
      &-one,
      &-two{
        color: $black-one;
        padding: 4px 10px 3px;
        background: $grey-licensed-bg;
        border-radius: 100px;
      }
    }

    &-reviews{
      display: flex;
      align-items: center;
      &-text{
        font-family: $font-popins-semb;
        font-size: 10px;
        line-height: 18px;
        color: $black-one;
      }
      &-star,
      &-comment{
        display: flex;
        align-items: center;
        border: 1px solid $yellow;
        border-radius: 100px;
        padding: 2px 7px;
        img{
          display: inline-block;
          margin: 0 15px 0 0;
        }
      }
      &-star{
        margin: 0 5px 0 0;
      }
    }


    &-country{
      display: flex;
      align-items: center;
      position: absolute;
      right: 15px;
      bottom: 12px;
      &-name{
        display: flex;
        align-items: center;
        margin: 0 20px 0 0;
        img{
          border-radius: 50%;
          margin: 0 10px 0 0;
        }
        &-txt{
          font-size: 12px;
          line-height: 22px;
          color: $blue-white;
        }
      }
      &-create,
      &-update{
        font-size: 12px;
        line-height: 22px;
        color: $blue-white;
      }
      &-create{
        margin: 0 20px 0 0;
      }


    }

  }

  &__bonus{
    max-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &-title{
      font-family: $font-popins-semb;
      font-size: 20px;
      line-height: 24px;
      margin: 0 0 5px 0;
      color: $blue;
    }
    &-subtitle{
      font-size: 14px;
      line-height: 20px;
      color: $blue-white;
      margin: 0 0 10px 0;
    }
    &-buttons{
      display: flex;
    }
    &-btn{
      font-family: $font-popins-semb;
      padding: 7px 18px 6px;
      font-size: 12px;
      line-height: 20px;
      &:first-child{
        margin: 0 5px 0 0;
      }
    }
  }
}

@media screen and (max-width: 1240px) {
  .casino{
    &__container{
      padding: 20px 15px 20px 15px;
    }
    &__row{
      margin: 0 0 20px 0;
    }
    &__info{
      padding: 0;
      &-country{
        position: static;

      }
    }
  }
}

@media screen and (max-width: 1024px){
  .casino{
    &__container{
      padding: 10px 0 20px 0;
    }
    &__breadcrumbs{
      padding: 0 15px;
    }
    &__row{
      padding: 0 15px;
      flex-direction: column;
      align-items: flex-start;
    }

    &__bonus{
      align-items: flex-start;
    }
    &__info{
      margin: 0 0 20px 0;
      &-country{
        padding: 0 15px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .casino {
    background: $white;
    &::before{
      content: none;
    }
    &__row{
      align-items: stretch;
    }
    &__breadcrumbs {
      margin: 0 0 20px 0;
      &-link {
        font-size: 10px;
        line-height: 20px;
      }
    }
    &__bonus{
      width: 100%;
      align-items: stretch;
      max-width: 100%;
      &-title{
        font-size: 18px;
        line-height: 24px;
        margin: 0;
        text-align: center;
      }
      &-subtitle{
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        margin: 0 0 10px 0;
      }
      &-btn{
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        width: calc(50% - 2.5px);
      }
    }
    &__info{
      margin: 0 0 30px 0;
      position: relative;
      &::before{
        content: '';
        position: absolute;
        width: 130%;
        height: 1px;
        background: $green-light;
        left: 0;
        bottom: -16px;
      }
      &-image{
        max-width: 100%;
        flex: 1 1 auto;
        margin: 0 15px 0 0;
      }
      &-play{
        min-width: 170px;
      }
      &-title{
        font-size: 16px;
        line-height: 20px;
        margin: 0 0 6px 0;
      }
      &-licensed{
        &-one,
        &-two{
          font-size: 11px;
        }
      }
      &-reviews{
        &-text{
          font-size: 10px;
          line-height: 15px;
          white-space: nowrap;
        }
      }
      &-country{
        &-name{
          margin: 0 10px 0 0;
        }
        &-name-txt,
        &-create,
        &-update{
          font-size: 10px;
          line-height: 14px;
        }
        &-create{
          margin: 0 10px 0 0;
        }
      }

    }
  }
}