.similar{
  overflow: hidden;
  background: $white;
  padding: 20px 30px 0;
  border-radius: 8px;
  margin: 0 0 20px 0;
  &__title{
    margin: 0 0 10px 0;
  }

  &__list{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    margin: 0 0 20px 0;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 120%;
      height: 2px;
      background: $green-light;
      bottom: -20px;
      left: -35px;
    }
  }
  &__item{
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    //max-width: 190px;
    &:hover .similar__item-info{
      opacity: 1;
    }

    img{
      border-radius: 4px;
    }
    &-link{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 2;
    }

    &-info{
      opacity: 0;
      background: linear-gradient(0deg, #1D2C53, #1D2C53);
      backdrop-filter: blur(2px);
      border-radius: 8px;
      position: absolute;
      padding: 15px;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      transition: opacity $transition;
    }
    &-title{
      text-align: start;
      font-family: $font-popins-semb;
      font-size: 16px;
      line-height: 20px;
      color: $pink;
    }
    &-text{
      font-size: 15px;
      line-height: 20px;
      color: $grey;
      margin: 0 0 25px 0;
    }
    &-btn{
      font-size: 12px;
      line-height: 20px;
      padding: 7px 22px 6px;
    }
  }

  &__all-link {
    font-family: $font-popins-semb;
    display: inline-block;
    padding: 15px 0 15px 0;
    width: 100%;
    position: relative;
    font-size: 14px;
    line-height: 20px;
    color: $blue;
    transition: color $transition;

    &::before {
      content: '';
      position: absolute;
      width: 12px;
      height: 8px;
      top: 50%;
      right: -15px;
      transform: translateY(-50%);
      background: url("../img/page3/bonuses/arrow.svg") no-repeat 0 0/contain;
      transition: transform $transition;
    }

    &:hover {
      color: $blue-hover;
    }
    &:hover::before{
      transform: translateY(-50%) translateX(5px);
    }
  }
}



@media screen and (max-width: 1024px) {
  .similar{
    padding: 20px 15px 0;
    border-radius: 0;
    &__all-link{
      text-align: center;
      &::before{
        content: none;
        background: none;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .similar{
    &__list{
      grid-template-columns: auto auto auto;
    }
  }
}

@media screen and (max-width: 600px) {
  .similar{
    &__list{
      grid-template-columns: auto auto;
      gap: 15px;
    }
    &__all-link{
      padding: 10px 0;
    }
    &__item{
      &-title{
        font-size: 12px;
        line-height: 15px;
      }
      &-text{
        font-size: 11px;
        line-height: 17px;
      }
      &-btn{
        font-size: 13px;
        line-height: 15px;
        padding: 10px 26px 8px;
      }
    }
  }
}