<section class="casino-author">
    <div class="casino-author__licensed">
        <p> Licensed</p>
        <p> Licensed</p>
        <p> Licensed</p>
        <time>20.08.2022</time>
    </div>
    <h1>Ukraine officially reported on series of unique developments officially reported</h1>
    <div class="casino-author__info">
        <div class="casino-author__info-date">
            <p>Date of publication: 20.08.2022</p>
            <p>Update date: 20.08.2022</p>
        </div>
    </div>
    <div class="casino-author__wrap">
        <div class="casino-author__image">
            <picture>
                <source srcset="img/page13/big-news-img.webp" type="image/webp">
                <img loading="lazy" src="img/page13/big-news-img.jpg" width="780"
                     height="280" alt="image-casino">
            </picture>
        </div>
        <div class="casino-author__name">
            <div class="casino-author__name-image">
                <a href="#" class="casino-author__name-image-link" aria-label="link-author"></a>
                <picture>
                    <source srcset="img/page13/suthor-img.webp" type="image/webp">
                    <img loading="lazy" src="img/page13/suthor-img.png" width="60"
                         height="60" alt="image-casino">
                </picture>
            </div>
            <div class="casino-author__name-info">
                <div>
                    <p>Name</p>
                    <p>Microgaming</p>
                </div>
                <p>Lead editor</p>
            </div>
            <div class="casino-author__social">
                <a href="#" class="casino-author__social-item" aria-label="link-instagram">
                    <svg width="18px">
                        <use xlink:href="img/sprite.svg#insta"></use>
                    </svg>
                </a>
                <a href="#" class="casino-author__social-item" aria-label="link-facebook">
                    <svg width="10px">
                        <use xlink:href="img/sprite.svg#facebook"></use>
                    </svg>
                </a>
                <a href="#" class="casino-author__social-item" aria-label="link-linke">
                    <svg width="19px">
                        <use xlink:href="img/sprite.svg#linke"></use>
                    </svg>
                </a>
                <a href="#" class="casino-author__social-item" aria-label="link-twitter">
                    <svg width="19.5px">
                        <use xlink:href="img/sprite.svg#twitter"></use>
                    </svg>
                </a>
                <a href="#" class="casino-author__social-item" aria-label="link-facebook">
                    <svg width="20px">
                        <use xlink:href="img/sprite.svg#telegram"></use>
                    </svg>
                </a>
                <a href="#" class="casino-author__social-item" aria-label="link-telegram">
                    <svg width="20px">
                        <use xlink:href="img/sprite.svg#whats"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>