.author{
  padding: 30px 20px;
  background: $white;
  border-radius: 8px;
  &__row{
    display: flex;
    align-items: center;
  }
  &__info{
    margin: 0 40px 0 0;
    max-width: 100px;
    min-width: 100px;
  }
  &__image{
    max-width: 100px;
    margin: 0 0 15px 0;
    img{
      border-radius: 50%;
    }
  }
  &__name{
    font-family: $font-popins-semb;
    font-size: 15px;
    line-height: 20px;
    color: $blue;
    text-align: center;
  }
  &__date{
    font-size: 11px;
    line-height: 20px;
    color: $black-one;
    text-align: center;
  }
  &__text{
    font-size: 14px;
    line-height: 26px;
    color: $black-one;
    margin: 0 0 10px 0;
  }
  &__link{
    padding: 6px 18px 5px;
    font-size: 12px;
    line-height: 20px;
    width: 155px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &::after{
      content: '';
      display: inline-block;
      margin-left: 10px;
      width: 6px;
      height: 11px;
      background: url("../img/general-block-image/arrow-link-author.svg") no-repeat 0 0/contain;
      transition: transform $transition;
    }
    &:hover::after{
      transform: translateX(5px);
    }
  }
}

@media screen and (max-width: 1024px){
  .author{
    padding: 20px 15px;
    border-radius: 0;
  }

}


@media screen and (max-width: 600px){
  .author{
    padding: 30px 15px;
    &__row{
      flex-direction: column;
      align-items: flex-start;
    }
    &__image{
      min-width: 60px;
      max-width: 60px;
      margin: 0 10px 0 0;
    }
    &__info{
      margin: 0 0 10px 0;
      display: flex;
      max-width: 300px;
      align-items: center;
    }
    &__name{
      text-align: start;
    }
    &__date{
      text-align: start;
    }
    &__text{
      font-size: 14px;
      line-height: 26px;
    }
  }
}

