.faq{
  padding: 60px 0;
  background: $green-light;

  &__title{
    text-align: center;
    color: $blue;
    margin: 0 0 20px 0;
  }
}

.accordion{
  margin: 0 0 20px 0;
}

.accordion__item{
  &:not(:last-child){
    margin: 0 0 10px 0;
  }
}
.accordion__header {
  display: flex;
  position: relative;
  align-items: center;
  font-family: $font-popins-semb;
  padding: 22px 55px 21px 20px;
  border-radius: 8px;
  background: $white;

  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: $blue;
  cursor: pointer;
  transition: background-color $transition;
  &::after {
    display: inline-block;
    position: absolute;
    right: 30px;
    margin: 0 0 0 25px;
    width: 17px;
    height: 10px;
    min-width: 17px;
    min-height: 10px;
    border-radius: 8px;
    background: url("../img/general-block-image/arrow-faq.svg") no-repeat center/contain;
    content: "";
    transform: rotate(180deg);
    transition: transform $transition;
  }
  &::before{
    content: '';
    width: 28px;
    height: 28px;
    min-width: 28px;
    min-height: 28px;
    margin: 0 10px 0 0;
    background: url("../img/general-block-image/faq-image.svg") no-repeat center/contain;
    display: inline-block;
  }
}

.accordion__item_slidedown .accordion__header,
.accordion__item_show .accordion__header {
  border: none;
}

.accordion__header:hover {
    background-color: $grey-licensed-bg;
  }

.accordion__content {
  display: flex;
  flex-direction: column;
  padding: 25px 35px 15px;
  background: transparent;
  p{
    font-size: 14px;
    line-height: 26px;
    color: $black-one;
    &:not(:last-child){
      margin: 0 0 20px 0;
    }
  }
}

.accordion__item:not(.accordion__item_show) .accordion__body {
  display: none;
}

.accordion__item_show .accordion__header::after, .accordion__item_slidedown .accordion__header::after {
  transform:  rotate(0deg);
}

//author block

.author{
  padding: 30px 70px 30px 30px;
  background: $white;
  border-radius: 8px;
  &__row{
    display: flex;
    align-items: center;
  }
  &__info{
    margin: 0 40px 0 0;
    max-width: 100px;
    min-width: 100px;
  }
  &__image{
    max-width: 100px;
    margin: 0 0 15px 0;
    img{
      border-radius: 50%;
    }
  }
  &__name{
    font-family: $font-popins-semb;
    font-size: 15px;
    line-height: 20px;
    color: $blue;
    text-align: center;
  }
  &__date{
    font-size: 11px;
    line-height: 20px;
    color: $black-one;
    text-align: center;
  }
  &__text{
    font-size: 14px;
    line-height: 26px;
    color: $grey;
    margin: 0 0 10px 0;
  }
  &__link{
    padding: 6px 18px 5px;
    font-size: 12px;
    line-height: 20px;
    width: 155px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &::after{
      content: '';
      display: inline-block;
      margin-left: 10px;
      width: 6px;
      height: 11px;
      background: url("../img/general-block-image/arrow-link-author.svg") no-repeat 0 0/contain;
      transition: transform $transition;
    }
    &:hover::after{
      transform: translateX(5px);
    }
  }
}

@media screen and (max-width: 1024px){
  .author{
    padding: 30px;
  }
}


@media screen and (max-width: 600px){
  .faq{
    padding: 50px 0 0 0;
    &__container{
      padding: 0;
    }
    &__title{
      margin: 0 0 20px 0;
      padding: 0 15px;
    }
  }

  .author{
    padding: 30px 15px;
    &__row{
      flex-direction: column;
      align-items: flex-start;
    }
    &__image{
      min-width: 60px;
      max-width: 60px;
      margin: 0 10px 0 0;
    }
    &__info{
      margin: 0 0 10px 0;
      display: flex;
      max-width: 300px;
      align-items: center;
    }
    &__name{
      text-align: start;
    }
    &__date{
      text-align: start;
    }
    &__text{
      font-size: 14px;
      line-height: 26px;
    }
  }

  .accordion__header{
    border-radius: 0;
    padding: 15px 35px 14px 15px;
    font-size: 14px;
    line-height: 21px;
    &::before{
      width: 20px;
      height: 20px;
      min-width: 20px;
      min-height: 20px;
      margin: 0 10px 0 0;
    }
    &::after{
      width: 13px;
      height: 8px;
      min-width: 13px;
      min-height: 8px;
      right: 15px;
    }
  }

  .accordion__content {
    padding: 15px 15px 10px 15px;
    p{
      font-size: 12px;
      line-height: 26px;
      &:not(:last-child){
        margin: 0 0 15px 0;
      }
    }
  }

}
