.menu__icon {
  display: none;
  @include breakpoint($tablet-bp) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;

    border-radius: 8px;
    width: 26px;
    height: 20px;
    position: relative;
    z-index: 5;

    span{
      position: absolute;
      width: 19px;
      height: 3px;
      background: $yellow;
      border-radius: 8px;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      transition: opacity $transition;
    }

    &._active span{
      opacity: 0;
    }


    &::before {
      content: "";
      position: absolute;
      width: 26px;
      height: 3px;
      background: $yellow;
      border-radius: 8px;
      top: 0px;
      left: 50%;
      transform: translate(-50%, 0);
      transition: $transition;
    }

    &._active::before {
      opacity: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &::after {
      content: "";
      position: absolute;
      width: 26px;
      height: 3px;
      background: $yellow;
      border-radius: 8px;
      bottom: 0px;
      left: 50%;
      transform: translate(-50%, 0);
      transition: $transition;
    }

    &._active::after {
      opacity: 1;
      bottom: 50%;
      left: 50%;
      transform: translate(-50%, 50%) rotate(45deg);
    }

    &._active img {
      opacity: 0;
    }
  }
}

.header {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  padding: 11px 0;
  background: $blue;
  @include breakpoint($tablet-bp) {
    padding: 9px 0;
  }

  &__language{
    cursor: pointer;
    min-width: 40px;
    max-width: 40px;
    height: 24px;
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 20px 0 0;
    @include breakpoint(1240px) {
      margin: 0 10px 0 0;
    }

    @include breakpoint($tablet-bp) {
      position: absolute;
      top: 21px;
      right: 50px;
      z-index: 11;
    }

    &::before{
      position: absolute;
      background: transparent;
      cursor: pointer;
      width: 160%;
      height: 50px;
      top: 0;
      left: -20px;
      z-index: 0;
    }

    &._open::after{
      transform: rotate(180deg) !important;
      margin-top: -1px !important;
    }

    &:hover::before {
      content: '';
    }

    &:hover::after {
      transform: rotate(180deg);
      margin-top: -1px;
      @include breakpoint($tablet-bp) {
        transform: rotate(0deg);
        margin-top: 0px;
      }
    }

    &:hover .header__language-list{
      display: block;
      @include breakpoint($tablet-bp) {
        display: none;
      }
    }

    &-item{
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      font-family: $font-popins-reg;
      font-size: 15px;
      line-height: 34px;
      letter-spacing: -0.004em;
      color: $white;
      padding: 8px 20px 6px;

      &._active::after{
        content: '';
      }

      &::after{
        position: absolute;
        right: 13px;
        top: 50%;
        transform: translateY(-50%);
        width: 12px;
        height: 9px;
        background: url("../img/arrow-language.svg") no-repeat 0 0/contain;
      }

      &:hover{
        background: $blue-white;
      }

      &::before{
        width: 28px;
        height: 28px;
        margin: 0 10px 0 0;
      }
    }
    &-pt{
      &::before{
        content: '';
        background: url("../img/language-pt.webp") no-repeat 0 0/contain;
      }
    }
    &-en{
      &::before{
        content: '';
        background: url("../img/language-en.webp") no-repeat 0 0/contain;
      }
    }
    &-list{
      display: none;
      min-width: 220px;
      max-width: 230px;
      top: 46px;
      right: 0;
      position: absolute;
      padding: 10px 0;
      background: $blue;
      border-top: 1px solid $blue-white;
      border-radius: 0 0 8px 8px;
      @include breakpoint($tablet-bp) {
        border-radius: 8px;
        border: 2px solid $blue-white;
        top: 35px;
      }
      &._open{
        display: block !important;
      }


    }
    &::after{
      content: '';
      display: inline-block;
      margin-top: 1px;
      margin-left: 6px;
      min-width: 9px;
      height: 5px;
      background: url("../img/arrow-menu.svg") no-repeat 0 0/contain;
    }
    &-select{
      width: 100%;
      height: 100%;
      &._en{
        background: url("../img/language-en.webp") no-repeat 0 0/contain;
      }
      &._pt{
        background: url("../img/language-pt.webp") no-repeat 0 0/contain;
      }
    }

  }

  &__row {
    display: flex;
    align-items: center;
  }

  &__logo {
    flex: 1 1 auto;
    margin: 0 15px 0 0;
    position: relative;
    z-index: 10;
    @include breakpoint(1240px){
      max-width: 50px;
    }

    @include breakpoint($tablet-bp) {
      max-width: 100%;
      flex: 0 1 auto;
    }
    img{
      @include breakpoint($tablet-bp) {
        max-width: 76px;
      }
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    @include breakpoint($tablet-bp) {
      padding: 85px 15px 0;
      flex-direction: column-reverse;
      align-items: stretch;
      justify-content: flex-end;
      position: fixed;
      left: -100%;
      width: 100%;
      height: 100%;
      background: $blue-gradient;
      overflow: auto;
      top: 0;
      z-index: 4;
      transition: left 0.3s ease 0s;
      &._active {
        left: 0;
      }
    }
  }

  &__nav {
    flex: 1 1 auto;
    margin: 0 15px 0 0;
    @include breakpoint($tablet-bp) {
      flex: 0 1 auto;
      max-width: 500px;
      margin: 0 auto;
      width: 100%;
    }
  }

  &__search {
    position: relative;
    display: flex;
    align-items: center;

    &::before{
      content: '';
      position: absolute;
      width: 15px;
      height: 15px;
      background: url("../img/search-icon.svg") no-repeat 0 0/contain;
      right: 16px;
      top: 50%;
      transform: translateY(-50%);
    }

    &-input {
      font-family: $font-popins-reg;
      display: inline-block;
      width: 280px;
      padding: 15px 40px 13px 25px;
      font-size: 13px;
      line-height: 20px;
      border-radius: 100px;
      background: $blue-white;
      color: $white;
      @include breakpoint(1240px){
        width: 227px;
      }
      &::placeholder{
        font-family: $font-popins-semb;
        color: $grey;
      }
      &:focus{
        outline: 1px solid $yellow;
      }



    }

  }
}

@include breakpoint($tablet-bp) {
  .header {
    &__search {
      margin: 0 auto 10px;
      max-width: 500px;
      width: 100%;
      &::before{
        right: auto;
        left: 18px;
      }

      &-input {
        border: none;
        display: block;
        opacity: 1;
        visibility: visible;
        position: static;
        width: 100%;
        padding: 15px 13px 13px 45px;
        font-size: 13px;
        line-height: 20px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 100px;

      }


    }

    &__nav{
      overflow-y: scroll;
      padding: 35px 0 35px 0;
    }
  }
}

.menu {
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item {
    position: relative;


    &:not(:last-child) {
      margin: 0 25px 0 0;
    }


    &-sub_list {
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;


      &:hover .menu__link {
        color: $yellow;
      }

      &:hover::before {
        content: '';
      }

      &:hover span::after {
        transform: rotate(180deg);
        margin-top: 0;
        @include breakpoint($tablet-bp) {
          transform: rotate(0deg);
        }
      }

      &::before {
        position: absolute;
        background: transparent;
        cursor: pointer;
        width: 100%;
        height: 50px;
        top: 0;
        left: 0;
        z-index: 0;
      }

      span{
        display: flex;
        align-items: center;
      }

      span::after {
        content: '';
        display: inline-block;
        background: url("../img/arrow-menu.svg") no-repeat 50% 0/contain;
        width: 9px;
        height: 5px;
        margin-left: 5px;
        margin-top: -2px;
        @include breakpoint($tablet-bp) {
          margin-left: auto;
          margin-right: 10px;
        }
      }

    }

    &-item {
      position: relative;

      &::after {
        content: '';
        display: inline-block;
        background: url("../img/arrow-menu.svg") no-repeat 50% 0/contain;
        width: 9px;
        height: 5px;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%) rotate(-90deg);;
        pointer-events: none;
      }
    }

    &-list {
      position: absolute;
      z-index: 1;
      min-width: 220px;
      max-width: 230px;
      top: 46px;
      left: 0;
      display: none;
      padding: 7px 0;
      background: $blue;
      border-top: 1px solid $blue-white;
      border-radius: 0 0 8px 8px;
      @include breakpoint(1240px){
        top: 44px;
      }
    }

    &-link {
      font-family: $font-popins-reg;
      color: $white;
      padding: 9px 20px 7px;
      font-size: 14px;
      line-height: 18px;
      display: inline-block;
      transition: color $transition;
      width: 100%;

      &:hover {
        background: $blue-white;
      }
    }

    &-hover-desc:hover &-list {
      display: block;
    }

  }

  &__link {
    cursor: pointer;
    position: relative;
    z-index: 2;
    font-family: $font-popins-reg;
    font-size: 14px;
    line-height: 21px;
    color: $white;
    transition: color $transition;

    @include breakpoint(1240px){
      font-size: 11px;
    }
    &:hover {
      color: $yellow;
    }

    @include breakpoint($tablet-bp) {
      width: 100%;
      font-size: 18px;
      line-height: 27px;
      padding: 15px 0;
      border-top: 1px solid $blue-white;
    }
  }
}

@include breakpoint($tablet-bp) {
  .menu {
    &__list {
      flex-direction: column;
      align-items: flex-start;
    }

    &__item {
      width: 100%;
      &:not(:last-child) {
        margin: 0 ;
      }

      &:last-child{
        border-bottom: 1px solid $blue-white;
      }


      &-sub_list {
        flex-direction: column;
        align-items: flex-start;
        position: relative;

        &._open{
          span::after{
            transform: rotate(180deg);
          }
        }


        &:hover::before {
          content: none;
        }

        &:hover .menu__link {
          color: $white;
        }
      }

      &-list {
        min-width: 100%;
        position: static;
        display: none;
        background: transparent;
        box-shadow: none;
        padding: 20px 0 20px 0;
        border-radius: 0;
        &._open{
          display: block;
        }
      }
      &-item{
        &:not(:last-child){
          margin: 0 0 20px 0;
        }
      }
      &-link{
        color: $white;
        font-size: 17px;
        line-height: 20px;
      }
    }

  }
}