<section class="author">
  <div class="author__row">
    <div class="author__info">
      <div class="author__image">
        <picture>
          <source srcset="img/general-block-image/author-image-faq.webp" type="image/webp">
          <img loading="lazy" src="img/home/bonus/author-image-faq.png" width="100"
               height="100" alt="image-author">
        </picture>
      </div>
      <div class="author__info-wrap">
        <div class="author__name">Name</div>
        <div class="author__date">April 8, 2021</div>
      </div>
    </div>
    <div class="author__wrap">
      <div class="author__text">To play Norwegian casino games online safely, we recommend only doing so
        on regulated and licensed casino platforms. Also, make sure that our team can only nominate
        titles that To play Norwegian casino games online safely, we recommend only doing so on
        regulated and licensed casino platforms. Also, make sure that our nominate titles that To play
      </div>
      <a href="#" class="author__link blue-btn">Show more</a>
    </div>
  </div>
</section>