.best {
  padding: 40px 0 60px 0;
  background: $green-light;

  &__container{
    display: flex;
    flex-direction: column;
  }

  &__title {
    text-align: start;
    margin: 0 0 10px 0;
    color: $blue;
  }

  &__text {
    font-size: 14px;
    line-height: 22px;
    color: $blue-white;
    max-width: 940px;
    margin: 0 0 20px 0;
  }

  &__link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    font-size: 14px;
    line-height: 20px;
    align-self: center;
    text-align: start;
    font-family: $font-popins-semb;
    padding: 10px 20px 9px;
    &::after{
      content: '';
      display: inline-block;
      margin-left: 10px;
      width: 7px;
      height: 12px;
      background: url("../img/home/best/arrow-link.svg") no-repeat 0 0/contain;
      transition: transform $transition;
    }
    &:hover::after{
      transform: translateX(5px);
    }
  }

  &__list{
    width: 100%;
    margin: 0 0 20px 0;
  }
  &__item{
    padding: 15px 30px 15px 15px;
    background: $white;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    &:not(:last-child){
      margin: 0 0 10px 0;
    }
    &-showMore{
      display: none;
      padding: 12px;
      justify-content: center;
      align-items: center;
      font-family: $font-popins-semb;
      font-size: 12px;
      line-height: 18px;
      color: $blue-white;
      cursor: pointer;
      &._openList::after{
        transform: rotate(180deg);
      }
      &::after{
        content: '';
        margin-left: 5px;
        width: 10px;
        height: 6px;
        background: url("../img/home/best/arrow.svg") no-repeat 0 0/contain;
      }
    }
    &-info{
      max-width: 436px;
      display: flex;
      align-items: center;
      margin: 0 15px 0 0;
    }
    &-image{
      max-width: 230px;
      min-width: 230px;
      margin: 0 20px 0 0;
      img{
        border-radius: 4px;
      }
    }
    &-title{
      font-family: $font-popins-semb;
      font-size: 22px;
      line-height: 20px;
      letter-spacing: -0.004em;
      color: $blue;
      margin: 0 0 10px 0;
    }
    &-licensed{
      display: flex;
      align-items: center;
      //flex-wrap: wrap;
      //gap: 5px;
      margin: 0 0 8px 0;
      &-item{
        font-size: 12px;
        line-height: 15px;
        color: $grey-licensed;
        padding: 4px 10px 3px;
        background: $grey-licensed-bg;
        border-radius: 100px;
        &:not(:last-child){
          margin: 0 5px 0 0;
        }
      }
    }
    &-reviews{
      display: flex;
      align-items: center;
      //flex-wrap: wrap;
      //gap: 5px;
      &-star,
      &-message{
        border: 1px solid $yellow;
        border-radius: 100px;
        padding: 2px 7px;
        display: flex;
        align-items: center;
        img{
          display: inline-block;
          margin: 0 15px 0 0;
        }
      }
      &-star{
        min-width: 48px;
        margin: 0 5px 0 0;
      }
      &-message{
        min-width: 87px;
      }
      &-text{
        white-space: nowrap;
        font-family: $font-popins-semb;
        font-size: 12px;
        line-height: 18px;
        color: $grey-licensed;
      }
    }

    &-plus{
      &-list{
        max-width: 435px;
        margin: 0 15px 0 0;
      }

      &-item{
        font-size: 11px;
        line-height: 16px;
        letter-spacing: -0.01em;
        color: $blue-white;
        display: flex;
        align-items: center;
        &:not(:last-child){
          margin: 0 0 10px 0;
        }
        &::before{
          content: '';
          display: inline-block;
          margin: 0 8px 0 0;
          width: 17px;
          min-width: 17px;
          height: 17px;
          background: url("../img/home/best/plus.svg") no-repeat 0 0/contain;
        }
      }
    }

    &-coupon{
      max-width: 275px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      &-title{
        text-align: end;
        font-family: $font-popins-semb;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.01em;
        color: $blue;
        margin: 0 0 5px 0;
      }
      &-text{
        text-align: end;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.01em;
        color: $blue-white;
        margin: 0 0 10px 0;
      }
      &-button{
        display: flex;
      }
      &-btn{
        font-family: $font-popins-semb;
        display: inline-block;
        padding: 7px 18px 6px;
        font-size: 12px;
        line-height: 20px;
        &:first-child{
          margin: 0 0 5px 0;
        }
      }
    }

  }


}

@media screen and (max-width: 1240px) {
  .best{
    &__container{
      padding: 0;
    }
    &__title,
    &__text,
    &__list{
      padding: 0 15px;
    }

    &__list{
      display: grid;
      grid-template-columns: calc(50% - 10px) calc(50% - 10px);
      gap: 20px;
      &._openItem{
        align-items: baseline;
      }
    }

    &__item{
      flex-direction: column;
      padding: 0;
      &:not(:last-child){
        margin: 0;
      }
      &-showMore{
        display: flex;
        order: 3
      }
      &-info{
        flex: 1 1 auto;
        max-width: 100%;
        order: 1;
        margin: 0 0 15px 0;
        padding: 15px;
        border-bottom: 1px solid $green-light;

      }
      &-coupon {
        flex: 1 1 auto;
        order: 2;
        padding: 0 15px 15px 15px;
        border-bottom: 1px solid $green-light;
        max-width: 100%;
        align-items: center;
        &-title{
          text-align: center;
        }
        &-text{
          text-align: center;
        }
        &-buttons{
          justify-content: center;
        }
      }
      &-plus{
        &-list{
          //flex: 1 1 auto;
          display: none;
          order: 4;
          padding: 15px;
          margin: 0;
          max-width: 100%;
          &._show{
            display: block;
          }
        }
      }

    }

  }
}

@media screen and (max-width: 1024px) {
  .best{
    &__list{
      gap: 10px;
      grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    }
    &__item{
      &-image{
        min-width: 80px;
        max-width: 175px;
        margin: 0 15px 0 0;
      }
      &-title{
        font-size: 16px;
        line-height: 20px;
        margin: 0 0 5px 0;
      }
      &-licensed{
        margin: 0 0 5px 0;
        &-item{
          font-size: 11px;
          line-height: 15px;
        }
      }
      &-reviews{
        &-text{
          font-size: 10px;
          line-height: 15px;
        }
        &-star,
        &-message{

          img{
            margin: 0 5px 0 0;
          }
        }
      }
      &-coupon{
        &-title{
          font-size: 18px;
          line-height: 24px;
          margin: 0;
        }
        &-text{
          font-size: 12px;
          line-height: 20px;
          margin: 0 0 10px 0;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .best{
    &__item{
      &-info{
        flex-direction: column;
        &-wrap{
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }


      &-image{
        max-width: 100%;
        margin: 0 0 15px 0;
      }
    }

  }
}

@media screen and (max-width: 600px){
  .best{
    padding: 40px 0;
    &__list{
      grid-template-columns: 100%;
      padding: 0;
    }
    &__item{
      border-radius: 0;

      &-info{
        flex-direction: row;
        &-wrap{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }
      }

      &-image{
        max-width: 100%;
        margin: 0 15px 0 0;
      }

      &-info{
        justify-content: center;
      }

      &-coupon{
        &-buttons{
          width: 100%;
        }
        &-btn{
          width: calc(50% - 2.5px);
          text-align: center;
        }
      }
    }
    &__text{
      font-size: 13px;
      line-height: 22px;
      margin: 0 0 15px 0;
    }
    &__link{
      width: calc(100% - 30px);

    }
  }
}
