.casino{
  padding: 50px 0 50px 0;
  background: $green url("../img/page16/bg-desc.webp") no-repeat 50% 0/cover;
  &__container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__error{
    font-family: $font-popins-semb;
    font-weight: 400;
    font-size: 160px;
    line-height: 189px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #DCC34F;
  }
  &__title{
    font-family: $font-rougant;
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
    line-height: 38px;
    color: $white;
    margin: 0 0 10px 0;
  }
  &__text{
    color: $white;
    font-size: 14px;
    line-height: 22px;
    max-width: 565px;
    text-align: center;
    margin: 0 0 15px 0;
  }
  &__link{
    display: inline-block;
    padding: 14px 40px 13px;
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 600px){
  .casino{
    padding: 20px 0 35px 0;
    background: $green url("../img/page16/bg-mob.webp") no-repeat 50% 0/cover;
    &__error{
      font-size: 120px;
      line-height: 141px;
    }
    &__title{
      font-size: 24px;
      line-height: 29px;
      margin: 0 0 10px 0;
    }
    &__text{
      font-size: 13px;
      line-height: 22px;
    }
  }
}