.news {
  background: $white;

  &__container {
    padding: 0;
  }
}


.news__blog {
  h2 {
    font-family: $font-popins-semb;
    font-size: 24px;
    line-height: 48px;
    color: $blue;
    margin: 0 0 10px 0;
  }

  h3, h4, h5, h6 {
    font-family: $font-popins-semb;
    letter-spacing: -0.01em;
    color: $black-one;
  }

  h3 {
    font-size: 20px;
    line-height: 40px;
  }

  h4 {
    font-size: 18px;
    line-height: 48px;
  }

  h5 {
    font-size: 16px;
    line-height: 48px;
  }

  h6 {
    font-size: 14px;
    line-height: 48px;
  }

  p, li {
    font-family: $font-popins-reg;
    font-size: 14px;
    line-height: 26px;
    margin: 0 0 20px 0;
    color: $black-one;
  }

  ol {
    list-style-type: none;
    margin: 0 0 30px 0;
    counter-reset: counter-ol;

    li {
      display: flex;
      align-items: flex-start;

      &::before {
        counter-increment: counter-ol;
        content: counter(counter-ol) " ";
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px 10px 0 0;
        font-family: $font-popins-semb;
        color: $yellow;
        min-width: 24px;
        min-height: 24px;
        font-size: 15px;
        line-height: 25px;
        border-radius: 50%;
        background: $green;
      }

      &:not(:last-child) {
        margin: 0 0 20px 0;
      }

      p {
        margin: 0;
        color: $black-one;
      }
    }
  }

  ul {
    margin: 0 0 30px 0;

    li {
      position: relative;
      padding: 0 0 0 40px;

      &::before {
        content: '';
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 5px;
        left: 0;
        width: 27px;
        height: 27px;
        background: url("../img/home/news/arrow-done.svg") no-repeat 0 0/contain;
      }

      &:not(:last-child) {
        margin: 0 0 15px 0;
      }

      p {
        margin: 0;
        color: $black-one;
      }
    }
  }

  blockquote {
    position: relative;
    padding: 85px 30px 20px;
    border-left: 2px solid $green-light;
    background: transparent;
    color: $blue;
    font-size: 15px;
    line-height: 30px;
    font-style: italic;
    letter-spacing: 0.01em;
    margin: 0 0 20px 0;

    span {
      display: block;
      margin-top: 10px;
      font-size: 15px;
      line-height: 20px;
      font-family: $font-popins-semb;
      font-style: normal;
      color: $blue;
    }

    &::before {
      pointer-events: none;
      font-style: normal;
      content: '‟';
      font-size: 75px;
      line-height: 75px;
      transform: scale(1, -1);
      height: 18px;
      color: $green;
      position: absolute;
      display: inline-block;
      top: 30px;
      left: 30px;
    }

    &::after {
      pointer-events: none;
      font-style: normal;
      content: '‟';
      font-size: 75px;
      line-height: 75px;
      transform: scale(-1, 1);
      height: 18px;
      color: $green;
      position: absolute;
      display: inline-block;
      top: 40px;
      left: 52px;
    }
  }
}

.content-table {
  border-radius: 20px;
  overflow-x: hidden;

  table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 0 20px 0;
    background: $green-light;

    tr, td {
      border: 1px solid #ddd;
      padding: 15px;
      color: $black-one;
      font-size: 15px;
      line-height: 20px;
    }

    tr:first-child {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background: $green;

      td {
        color: $white;
      }

    }
  }
}

.content-author {
  padding: 30px;
  border: 1px solid $green-white;
  border-radius: 8px;
  position: relative;
  margin: 0 0 20px 0;

  &::before {
    content: '';
    position: absolute;
    width: 77px;
    height: 46px;
    background: url("../img/home/news/author-des.svg") no-repeat 0 0/contain;
  }

  &__row {
    padding: 0 0 0 100px;
    display: flex;
    align-items: center;
    margin: 0 0 10px 0;
  }

  &__image {
    margin: 0 10px 0 0;
    max-width: 48px;

    img {
      border-radius: 50%;
    }
  }

  &__info {
    &-wrap {
      display: flex;
      align-items: center;
    }
  }

  &__name {
    font-family: $font-popins-semb;
    font-size: 15px;
    line-height: 20px;
    color: $blue;
    margin: 0 10px 0 0;
  }

  &__licensed {
    font-size: 12px;
    line-height: 15px;
    color: $black-one;
  }

  &__date {
    font-size: 11px;
    line-height: 20px;
    color: $black-one;
  }

  &__text {
    font-style: italic;
    font-size: 18px;
    line-height: 34px;
    color: $blue;
  }
}

@media screen and (max-width: 1024px) {
  .news {
    padding: 20px 0 0 0;
    &__container {
      padding: 0 15px;
    }

    &__blog {
      margin: 0 0 20px 0;
      max-width: 100%;
    }
  }

  .content-table {
    overflow-x: scroll;

    table {
      min-width: 600px;
    }
  }
}

@media screen and (max-width: 600px) {
  .news {
    padding: 0px 0 0 0;

    &__container {
      padding: 0;
    }

    &__blog {
      padding: 0 15px;
    }
  }

  .content-table {
    table {
      tr, td {
        font-size: 13px;
        line-height: 19px;
      }
    }
  }

  .content-author {
    padding: 15px;

    &__text {
      font-size: 16px;
      line-height: 30px;
    }

  }

  .news__blog {
    h2 {
      font-size: 20px;
      line-height: 30px;
      margin: 0 0 15px 0;
    }

    h3, h4, h5, h6 {
      font-size: 17px;
      line-height: 26px;
    }

    p, li {
      font-size: 13px;
      line-height: 22px;
      margin: 0 0 15px 0;
    }

    ol {
      margin: 0 0 20px 0;

      li {
        &:not(:last-child) {
          margin: 0 0 10px 0;
        }
      }
    }

    ul {
      margin: 0 0 20px 0;
    }

    blockquote {
      padding: 85px 20px 20px 20px;
      font-size: 13px;
      line-height: 28px;
    }
  }
}

@media screen and (max-width: 370px) {
  .content-author {
    &::before {
      width: 47px;
      height: 24px;
    }

    &__row {
      padding: 0 0 0 51px;
    }
  }
}



