.games{
  overflow: hidden;
  padding: 20px 30px 0;
  border-radius: 8px;
  background: $white;
  margin: 0 0 20px 0;
  &__title{
    margin: 0 0 10px 0;
  }

  &__all-link {
    font-family: $font-popins-semb;
    display: inline-block;
    padding: 15px 0 15px 0;
    width: 100%;
    position: relative;
    font-size: 14px;
    line-height: 20px;
    color: $blue;
    transition: color $transition;

    &::after{
      content: '';
      position: absolute;
      width: 120%;
      height: 2px;
      background: $green-light;
      top: -2px;
      left: -35px;
    }

    &::before {
      content: '';
      position: absolute;
      width: 12px;
      height: 8px;
      top: 50%;
      right: -15px;
      transform: translateY(-50%);
      background: url("../img/page3/bonuses/arrow.svg") no-repeat 0 0/contain;
      transition: transform $transition;
    }

    &:hover {
      color: $blue-hover;
    }
    &:hover::before{
      transform: translateY(-50%) translateX(5px);
    }
  }

  &__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 20px 0;
    position: relative;
    &::before{
      //content: '';
      position: absolute;
      width: 120%;
      height: 2px;
      background: $green-light;
      bottom: -20px;
      left: -35px;
    }
  }

  &__item{
    position: relative;
    &:not(:last-child){
      margin: 0 12px 0 0;
    }
    &-link{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    &-image{
      max-width: 265px;
      margin: 0 0 10px 0;
      img{
        border-radius: 4px;
      }
    }
    &-title{
      font-size: 17px;
      line-height: 26px;
      letter-spacing: -0.01em;
      color: $black-one;
    }
    &-subtitle{
      font-size: 14px;
      line-height: 21px;
      letter-spacing: -0.004em;
      color: $grey;
    }
  }
  &__all-link{
    display: inline-block;
    position: relative;
    font-size: 15px;
    line-height: 20px;
    color: $black-one;
    transition: color $transition;
    &::before{
      content: '';
      position: absolute;
      width: 11px;
      height: 7px;
      top: 56%;
      right: -15px;
      transform: translateY(-50%);
      background: url("../img/page3/bonuses/arrow.svg") no-repeat 0 0/contain;
    }
    &:hover{
      color: $orangeBtn-hover;
    }
  }
}

@media screen and (max-width: 1024px) {
  .games {
    padding: 20px 0 0;
    border-radius: 0;
    &__title{
      padding: 0 15px;
    }
    &__all-link{
      text-align: center;
      &::before{
        content: none;
        background: none;
      }
    }
    &__list{
      overflow-x: scroll;
      padding: 0 15px 25px;
      margin: 0;
      &::before{
        bottom: 0;
      }
    }
    &__item{
      &-image{
        max-width: 260px;
        min-width: 260px;
      }
      &:not(:last-child){
        margin: 0 13px 0 0;
      }
    }
  }

}



@media screen and (max-width: 600px) {
  .games{
    &__all-link{
      padding: 10px 0;
    }

  }
}