.ratings {
  padding: 20px 30px 0px;
  background: $white;
  border-radius: 8px;
  margin: 0 0 20px 0;
  overflow: hidden;


  &__title {
    margin: 0 0 40px 0;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 120%;
      height: 2px;
      background: $green-light;
      bottom: -5px;
      left: -35px;
    }
  }

  &__subtitle{
    font-size: 16px;
    line-height: 24px;
    color: $blue;
    margin: 0 0 10px 0;
  }

  &__text{
    font-size: 14px;
    line-height: 26px;
    color: $black-one;
    position: relative;
    margin: 0 0 15px 0;
    &::after{
      content: '';
      position: absolute;
      width: 120%;
      height: 2px;
      background: $green-light;
      top: -61px;
      left: -35px;
    }
    &::before{
      content: '';
      position: absolute;
      width: 120%;
      height: 2px;
      background: $green-light;
      bottom: -15px;
      left: -35px;
    }
  }

  &__all-link {
    font-family: $font-popins-semb;
    display: inline-block;
    padding: 15px 0 15px 0;
    width: 100%;
    position: relative;
    font-size: 14px;
    line-height: 20px;
    color: $blue;
    transition: color $transition;

    &::before {
      content: '';
      position: absolute;
      width: 12px;
      height: 8px;
      top: 50%;
      right: -15px;
      transform: translateY(-50%);
      background: url("../img/page3/bonuses/arrow.svg") no-repeat 0 0/contain;
      transition: transform $transition;
    }

    &:hover {
      color: $blue-hover;
    }
    &:hover::before{
      transform: translateY(-50%) translateX(5px);
    }
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 0 30px 0;
    margin: 0 auto 30px auto;
    position: relative;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100px;

    &:not(:last-child) {
      margin: 0 20px 0 0;
    }

    &-info {
      font-family: $font-popins-semb;
      font-size: 16px;
      line-height: 25px;
      color: $blue;
      text-align: center;
    }

    &-progress {
      position: relative;
      margin: 0 0 10px 0;
    }

    &-text {
      font-family: $font-popins-semb;
      color: $blue;
      font-size: 14px;
      line-height: 21px;
      width: 38px;
      height: 24px;
      border-radius: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $yellow;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }


}

//progress bar

.single-chart {
  width: 100px;
  justify-content: space-around;
}

.circular-chart {
  display: block;
}

.circle-bg {
  fill: none;
  stroke: $green-light;
  stroke-width: 2.5;
}

.circle {
  fill: none;
  stroke-width: 2.5;
  stroke-linecap: round;
  stroke: $yellow;
}

@media screen and (max-width: 1240px) {
  .ratings{
    &__rating{
      display: grid;
      grid-template-columns: auto auto auto;
      gap: 20px;
      max-width: 500px;
    }
    &__item{
      &:not(:last-child){
        margin: 0;
      }
    }
  }
}



@media screen and (max-width: 1024px) {
  .ratings{
    padding: 20px 0 0;
    border-radius: 0;
    &__title,
    &__subtitle,
    &__text{
      padding: 0 15px;
    }
    &__rating{
      display: flex;
      gap: 0;
      padding: 0 15px;
      overflow-x: scroll;
      max-width: 100%;
      margin: 0 0 50px 0;
    }
    &__text{
      &::after{
        top: -56px;
      }
    }
    &__all-link{
      text-align: center;
      &::before{
        content: none;
        background: none;
      }
    }
    &__item{
      &:not(:last-child) {
        margin: 0 35px 0 0;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .ratings{
    &__title{
      margin: 0 0 20px 0;
      &::before{
        content: none;
      }
    }
    &__subtitle{
      margin: 0 0 10px 0;
    }
    &__text{
      font-size: 14px;
      line-height: 26px;
    }
    &__all-link{
      padding: 10px 0;
    }
  }
}