.reviews {
  background: $white;
  border-radius: 8px;
  padding: 20px 30px 0;
  margin: 0 0 20px 0;
  display: flex;
  flex-direction: column;

  &__all-link {
    font-family: $font-popins-semb;
    display: inline-block;
    padding: 15px 0 15px 0;
    width: 100%;
    position: relative;
    font-size: 14px;
    line-height: 20px;
    color: $blue;
    transition: color $transition;

    &::before {
      content: '';
      position: absolute;
      width: 12px;
      height: 8px;
      top: 50%;
      right: -15px;
      transform: translateY(-50%);
      background: url("../img/page3/bonuses/arrow.svg") no-repeat 0 0/contain;
      transition: transform $transition;
    }

    &:hover {
      color: $blue-hover;
    }
    &:hover::before{
      transform: translateY(-50%) translateX(5px);
    }
  }

  &__title {
    margin: 0 0 10px 0;
  }

  &__row {
    display: flex;
    align-items: flex-start;
    margin: 0 0 20px 0;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 120%;
      height: 2px;
      background: $green-light;
      bottom: -20px;
      left: -35px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    width: calc(50% - 6px);

    &-plus {
      margin: 0 12px 0 0;

      .reviews__item {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          width: 24px;
          height: 24px;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          background: url("../img/page3/reviews/plus.svg") no-repeat 0 0/contain;
        }
      }
    }

    &-minus {
      margin: 0 12px 0 0;

      .reviews__item {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          width: 24px;
          height: 24px;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          background: url("../img/page3/reviews/minus.svg") no-repeat 0 0/contain;
        }
      }
    }
  }

  &__item {
    padding: 0 0 0 34px;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin: 0 0 10px 0;
    }

    &-text {
      font-size: 14px;
      line-height: 21px;
      color: $blue-reviews;
    }
  }
}

@media screen and (max-width: 1024px) {
  .reviews {
    padding: 20px 15px 0px;
    border-radius: 0;
    &__all-link{
      text-align: center;
      &::before{
        content: none;
        background: none;
      }
    }
  }


}


@media screen and (max-width: 800px) {
  .reviews {
    &__row {
      flex-direction: column;
    }

    &__list {
      display: flex;
      flex-direction: column;
      width: 100%;

      &-plus {
        margin: 0 0 30px 0;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .reviews {
    &__all-link{
      padding: 10px 0;
    }

  }
}