.casino-online{
  display: flex;
  flex-direction: column;
  margin: 0 0 40px 0;
  &__wrap{
    margin: 0 0 25px 0;
  }
  &__all-link {
    margin: 0 auto;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    font-size: 14px;
    line-height: 20px;
    text-align: start;
    font-family: $font-popins-semb;
    padding: 10px 20px 9px;
    &::after{
      content: '';
      display: inline-block;
      margin-left: 10px;
      width: 7px;
      height: 12px;
      background: url("../img/home/best/arrow-link.svg") no-repeat 0 0/contain;
      transition: transform $transition;
    }
    &:hover::after{
      transform: translateX(5px);
    }
  }

  &__title {
    font-family: $font-rougant;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: -0.01em;
    color: $blue;
    margin: 0 0 10px 0;
    text-align: center;
  }

  &__list{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px;
    &-title{
      text-align: center;
      color: $pink-title;
      font-family: $font-rougant;
      font-size: 28px;
      line-height: 38px;
      margin: 0 0 15px 0;
    }
  }

  &__item{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 103px;
    max-width: 103px;

    &-image{
      max-width: 102px;
      min-width: 102px;
      img{
        border-radius: 4px;
      }
    }
    &-info{
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: -6.5px 0 5px 0;
    }
    &-title{
      font-family: $font-popins-semb;
      text-align: center;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: -0.004em;
      color: $blue;
    }
    &-reviews{
      display: flex;
      align-items: center;
      justify-content: center;
      background: $yellow;
      padding: 0 6px 0;
      border-radius: 100px;
      margin: 0 0 5px 0;
      &-img{
        display: inline-block;
        margin: 0 8px 0 0;
      }
      &-grade{
        font-family: $font-popins-semb;
        font-size: 9px;
        line-height: 16px;
        color: $blue;

      }
    }
    &-link{
      display: inline-block;
      padding: 7px 17px 5px;
      font-family: $font-popins-reg;
      font-size: 12px;
      line-height: 20px;
      white-space: nowrap;

    }
  }
}

@media screen and (max-width: 1024px) {
  .casino-online{
    width: 80%;
    margin: 0 auto 40px auto;
    &__list{
      justify-items: center;
    }


    &__all-link {
      width: 80%;
      text-align: center;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 600px){
  .casino-online{
    width: 100%;
    padding: 0 15px;
    border-radius: 0;
    &__title{
      font-size: 22px;
      line-height: 26px;
    }
    &__all-link{
      width: 100%;
    }

  }
}

@media screen and (max-width: 370px) {
  .casino-online{
    &__list{
      grid-template-columns: auto auto ;
    }
  }
}