<section class="game" id="block1" data-da=".wrapper__container,1024,0">
    <h2 class="game__title title-pop">Online casino bonuses</h2>
    <div class="game__image">
        <picture>
            <source srcset="img/page5/games/game-img.webp" type="image/webp">
            <img loading="lazy" src="img/page5/games/game-img.jpg" width="820"
                 height="600" alt="image-game">
        </picture>
        <div class="game__image-buttons">
            <a href="#" class="game__image-btn yellow-btn">Play now</a>
            <a href="#" class="game__image-btn yellow-btn">Review now</a>
        </div>
    </div>
    <ul class="game__list">
        <li class="game__item">
            <div class="game__item-image">
                <picture>
                    <source srcset="img/page5/games/game-img-min.webp" type="image/webp">
                    <img loading="lazy" src="img/page5/games/game-img-min.jpg" width="258"
                         height="140" alt="image-game">
                </picture>
            </div>
            <div class="game__item-row">
                <div class="game__item-title">Dead or Alive 2</div>
                <div class="game__item-review">
                    <img src="img/page5/games/star.svg" alt="star" width="11" height="11">
                    <div class="game__item-review-text">4.5</div>
                </div>
            </div>
            <a href="#" class="game__item-link blue-btn">Play now</a>
        </li>
        <li class="game__item">
            <div class="game__item-image">
                <picture>
                    <source srcset="img/page5/games/game-img-min.webp" type="image/webp">
                    <img loading="lazy" src="img/page5/games/game-img-min.jpg" width="258"
                         height="140" alt="image-game">
                </picture>
            </div>
            <div class="game__item-row">
                <div class="game__item-title">Dead or Alive 2</div>
                <div class="game__item-review">
                    <img src="img/page5/games/star.svg" alt="star" width="11" height="11">
                    <div class="game__item-review-text">4.5</div>
                </div>
            </div>
            <a href="#" class="game__item-link blue-btn">Play now</a>
        </li>
        <li class="game__item">
            <div class="game__item-image">
                <picture>
                    <source srcset="img/page5/games/game-img-min.webp" type="image/webp">
                    <img loading="lazy" src="img/page5/games/game-img-min.jpg" width="258"
                         height="140" alt="image-game">
                </picture>
            </div>
            <div class="game__item-row">
                <div class="game__item-title">Dead or Alive 2</div>
                <div class="game__item-review">
                    <img src="img/page5/games/star.svg" alt="star" width="11" height="11">
                    <div class="game__item-review-text">4.5</div>
                </div>
            </div>
            <a href="#" class="game__item-link blue-btn">Play now</a>
        </li>
    </ul>
</section>