<section class="legal" id="block2">
  <h2 class="legal__title title-pop">We only choose legal casinos</h2>
  <p class="legal__text">To play Norwegian casino games online safely, we recommend only doing so on regulated and licensed casino platforms. Also, make sure that our team can only nominate titles that To play Norwegian casino games online safely, we recommend only doing so on regulated and licensed casino platforms. Also, make sure that our team only nominates titles that To play Norwegian casino games online safely, we recommend only doing so on regulated and licensed casino platforms. Also, make sure that our team only nominates titles that</p>
  <ul class="legal__list">
    <li class="legal__item">
      <div class="legal__item-title">RTP (%)</div>
      <div class="legal__item-text">96.86</div>
    </li>
    <li class="legal__item">
      <div class="legal__item-title">Owner</div>
      <div class="legal__item-text">Australia</div>
    </li>
    <li class="legal__item">
      <div class="legal__item-title">License</div>
      <div class="legal__item-text">Australia</div>
    </li>
  </ul>
</section>