<section class="online-info">
    <h2 class="online-info__title title-pop">We only choose legal casinos</h2>
    <p class="online-info__text">To play Norwegian casino games online safely, we recommend only doing so on regulated
        and licensed casino platforms. Also, make sure that our team can only nominate titles that To play Norwegian
        casino games online safely, we recommend only doing so on regulated and licensed casino platforms. Also, make
        sure that our team only nominates titles that To play Norwegian casino games online safely, we recommend only
        doing so on regulated and licensed casino platforms. Also, make sure that our team only nominates titles
        that  and licensed casino platforms. Also, make sure that our team can only nominate titles that To play Norwegian
        casino games online safely, we recommend only doing so on regulated and licensed casino platforms. Also, make
        sure that our team only nominates titles that To play Norwegian casino games online safely, we recommend only
        doing so on regulated and licensed casino platforms. Also, make sure that our team only nominates titles
        that</p>
</section>