<section class="similar" id="block7">
  <h2 class="similar__title title-pop">Similar games</h2>
  <ul class="similar__list">
    <li class="similar__item">
      <picture>
        <source srcset="img/page5/similar/game-img.webp" type="image/webp">
        <img loading="lazy" src="img/page5/similar/game-img.jpg" width="820"
             height="600" alt="image-game">
      </picture>
      <div class="similar__item-info">
        <a href="#" class="similar__item-link" aria-label="slot-link"></a>
        <div class="similar__item-title">Immortal Rommance</div>
        <p class="similar__item-text">Microgaming</p>
        <div class="similar__item-btn yellow-btn">Play</div>
      </div>
    </li>
    <li class="similar__item">
      <picture>
        <source srcset="img/page5/similar/game-img.webp" type="image/webp">
        <img loading="lazy" src="img/page5/similar/game-img.jpg" width="820"
             height="600" alt="image-game">
      </picture>
      <div class="similar__item-info">
        <a href="#" class="similar__item-link" aria-label="slot-link"></a>
        <div class="similar__item-title">Immortal Rommance</div>
        <p class="similar__item-text">Microgaming</p>
        <div class="similar__item-btn yellow-btn">Play</div>
      </div>
    </li>
    <li class="similar__item">
      <picture>
        <source srcset="img/page5/similar/game-img.webp" type="image/webp">
        <img loading="lazy" src="img/page5/similar/game-img.jpg" width="820"
             height="600" alt="image-game">
      </picture>
      <div class="similar__item-info">
        <a href="#" class="similar__item-link" aria-label="slot-link"></a>
        <div class="similar__item-title">Immortal Rommance</div>
        <p class="similar__item-text">Microgaming</p>
        <div class="similar__item-btn yellow-btn">Play</div>
      </div>
    </li>
    <li class="similar__item">
      <picture>
        <source srcset="img/page5/similar/game-img.webp" type="image/webp">
        <img loading="lazy" src="img/page5/similar/game-img.jpg" width="820"
             height="600" alt="image-game">
      </picture>
      <div class="similar__item-info">
        <a href="#" class="similar__item-link" aria-label="slot-link"></a>
        <div class="similar__item-title">Immortal Rommance</div>
        <p class="similar__item-text">Microgaming</p>
        <div class="similar__item-btn yellow-btn">Play</div>
      </div>
    </li>
    <li class="similar__item">
      <picture>
        <source srcset="img/page5/similar/game-img.webp" type="image/webp">
        <img loading="lazy" src="img/page5/similar/game-img.jpg" width="820"
             height="600" alt="image-game">
      </picture>
      <div class="similar__item-info">
        <a href="#" class="similar__item-link" aria-label="slot-link"></a>
        <div class="similar__item-title">Immortal Rommance</div>
        <p class="similar__item-text">Microgaming</p>
        <div class="similar__item-btn yellow-btn">Play</div>
      </div>
    </li>
    <li class="similar__item">
      <picture>
        <source srcset="img/page5/similar/game-img.webp" type="image/webp">
        <img loading="lazy" src="img/page5/similar/game-img.jpg" width="820"
             height="600" alt="image-game">
      </picture>
      <div class="similar__item-info">
        <a href="#" class="similar__item-link" aria-label="slot-link"></a>
        <div class="similar__item-title">Immortal Rommance</div>
        <p class="similar__item-text">Microgaming</p>
        <div class="similar__item-btn yellow-btn">Play</div>
      </div>
    </li>
    <li class="similar__item">
      <picture>
        <source srcset="img/page5/similar/game-img.webp" type="image/webp">
        <img loading="lazy" src="img/page5/similar/game-img.jpg" width="820"
             height="600" alt="image-game">
      </picture>
      <div class="similar__item-info">
        <a href="#" class="similar__item-link" aria-label="slot-link"></a>
        <div class="similar__item-title">Immortal Rommance</div>
        <p class="similar__item-text">Microgaming</p>
        <div class="similar__item-btn yellow-btn">Play</div>
      </div>
    </li>
    <li class="similar__item">
      <picture>
        <source srcset="img/page5/similar/game-img.webp" type="image/webp">
        <img loading="lazy" src="img/page5/similar/game-img.jpg" width="820"
             height="600" alt="image-game">
      </picture>
      <div class="similar__item-info">
        <a href="#" class="similar__item-link" aria-label="slot-link"></a>
        <div class="similar__item-title">Immortal Rommance</div>
        <p class="similar__item-text">Microgaming</p>
        <div class="similar__item-btn yellow-btn">Play</div>
      </div>
    </li>
  </ul>
  <a href="#" class="similar__all-link">All similar</a>
</section>