<section class="casinos-payments">
    <div class="casinos-payments__container">
        <ul class="casinos-payments__list">
            <li class="casinos-payments__item">
                <div class="casinos-payments__item-row">
                    <div class="casinos-payments__item-image">
                        <picture>
                            <source srcset="img/page7/payment.webp" type="image/webp">
                            <img loading="lazy" src="img/page7/payment.png" width="161"
                                 height="64" alt="image-casino">
                        </picture>
                    </div>
                    <div class="casinos-payments__item-cont">
                        <div class="casinos-payments__item-title">Mastercard</div>
                        <div class="casinos-payments__item-info">
                            Kabra till now <span>350</span>
                        </div>
                    </div>
                </div>

                <a href='#' class="casinos-payments__item-link transparent-btn-blue">Pay</a>
            </li>
            <li class="casinos-payments__item">
                <div class="casinos-payments__item-row">
                    <div class="casinos-payments__item-image">
                        <picture>
                            <source srcset="img/page7/payment.webp" type="image/webp">
                            <img loading="lazy" src="img/page7/payment.png" width="161"
                                 height="64" alt="image-casino">
                        </picture>
                    </div>
                    <div class="casinos-payments__item-cont">
                        <div class="casinos-payments__item-title">Mastercard</div>
                        <div class="casinos-payments__item-info">
                            Kabra till now <span>350</span>
                        </div>
                    </div>
                </div>

                <a href='#' class="casinos-payments__item-link transparent-btn-blue">Pay</a>
            </li>
            <li class="casinos-payments__item">
                <div class="casinos-payments__item-row">
                    <div class="casinos-payments__item-image">
                        <picture>
                            <source srcset="img/page7/payment.webp" type="image/webp">
                            <img loading="lazy" src="img/page7/payment.png" width="161"
                                 height="64" alt="image-casino">
                        </picture>
                    </div>
                    <div class="casinos-payments__item-cont">
                        <div class="casinos-payments__item-title">Mastercard</div>
                        <div class="casinos-payments__item-info">
                            Kabra till now <span>350</span>
                        </div>
                    </div>
                </div>

                <a href='#' class="casinos-payments__item-link transparent-btn-blue">Pay</a>
            </li>
            <li class="casinos-payments__item">
                <div class="casinos-payments__item-row">
                    <div class="casinos-payments__item-image">
                        <picture>
                            <source srcset="img/page7/payment.webp" type="image/webp">
                            <img loading="lazy" src="img/page7/payment.png" width="161"
                                 height="64" alt="image-casino">
                        </picture>
                    </div>
                    <div class="casinos-payments__item-cont">
                        <div class="casinos-payments__item-title">Mastercard</div>
                        <div class="casinos-payments__item-info">
                            Kabra till now <span>350</span>
                        </div>
                    </div>
                </div>

                <a href='#' class="casinos-payments__item-link transparent-btn-blue">Pay</a>
            </li>
            <li class="casinos-payments__item">
                <div class="casinos-payments__item-row">
                    <div class="casinos-payments__item-image">
                        <picture>
                            <source srcset="img/page7/payment.webp" type="image/webp">
                            <img loading="lazy" src="img/page7/payment.png" width="161"
                                 height="64" alt="image-casino">
                        </picture>
                    </div>
                    <div class="casinos-payments__item-cont">
                        <div class="casinos-payments__item-title">Mastercard</div>
                        <div class="casinos-payments__item-info">
                            Kabra till now <span>350</span>
                        </div>
                    </div>
                </div>

                <a href='#' class="casinos-payments__item-link transparent-btn-blue">Pay</a>
            </li>
            <li class="casinos-payments__item">
                <div class="casinos-payments__item-row">
                    <div class="casinos-payments__item-image">
                        <picture>
                            <source srcset="img/page7/payment.webp" type="image/webp">
                            <img loading="lazy" src="img/page7/payment.png" width="161"
                                 height="64" alt="image-casino">
                        </picture>
                    </div>
                    <div class="casinos-payments__item-cont">
                        <div class="casinos-payments__item-title">Mastercard</div>
                        <div class="casinos-payments__item-info">
                            Kabra till now <span>350</span>
                        </div>
                    </div>
                </div>

                <a href='#' class="casinos-payments__item-link transparent-btn-blue">Pay</a>
            </li>
            <li class="casinos-payments__item">
                <div class="casinos-payments__item-row">
                    <div class="casinos-payments__item-image">
                        <picture>
                            <source srcset="img/page7/payment.webp" type="image/webp">
                            <img loading="lazy" src="img/page7/payment.png" width="161"
                                 height="64" alt="image-casino">
                        </picture>
                    </div>
                    <div class="casinos-payments__item-cont">
                        <div class="casinos-payments__item-title">Mastercard</div>
                        <div class="casinos-payments__item-info">
                            Kabra till now <span>350</span>
                        </div>
                    </div>
                </div>

                <a href='#' class="casinos-payments__item-link transparent-btn-blue">Pay</a>
            </li>
            <li class="casinos-payments__item">
                <div class="casinos-payments__item-row">
                    <div class="casinos-payments__item-image">
                        <picture>
                            <source srcset="img/page7/payment.webp" type="image/webp">
                            <img loading="lazy" src="img/page7/payment.png" width="161"
                                 height="64" alt="image-casino">
                        </picture>
                    </div>
                    <div class="casinos-payments__item-cont">
                        <div class="casinos-payments__item-title">Mastercard</div>
                        <div class="casinos-payments__item-info">
                            Kabra till now <span>350</span>
                        </div>
                    </div>
                </div>

                <a href='#' class="casinos-payments__item-link transparent-btn-blue">Pay</a>
            </li>
            <li class="casinos-payments__item">
                <div class="casinos-payments__item-row">
                    <div class="casinos-payments__item-image">
                        <picture>
                            <source srcset="img/page7/payment.webp" type="image/webp">
                            <img loading="lazy" src="img/page7/payment.png" width="161"
                                 height="64" alt="image-casino">
                        </picture>
                    </div>
                    <div class="casinos-payments__item-cont">
                        <div class="casinos-payments__item-title">Mastercard</div>
                        <div class="casinos-payments__item-info">
                            Kabra till now <span>350</span>
                        </div>
                    </div>
                </div>

                <a href='#' class="casinos-payments__item-link transparent-btn-blue">Pay</a>
            </li>
            <li class="casinos-payments__item">
                <div class="casinos-payments__item-row">
                    <div class="casinos-payments__item-image">
                        <picture>
                            <source srcset="img/page7/payment.webp" type="image/webp">
                            <img loading="lazy" src="img/page7/payment.png" width="161"
                                 height="64" alt="image-casino">
                        </picture>
                    </div>
                    <div class="casinos-payments__item-cont">
                        <div class="casinos-payments__item-title">Mastercard</div>
                        <div class="casinos-payments__item-info">
                            Kabra till now <span>350</span>
                        </div>
                    </div>
                </div>

                <a href='#' class="casinos-payments__item-link transparent-btn-blue">Pay</a>
            </li>
            <li class="casinos-payments__item">
                <div class="casinos-payments__item-row">
                    <div class="casinos-payments__item-image">
                        <picture>
                            <source srcset="img/page7/payment.webp" type="image/webp">
                            <img loading="lazy" src="img/page7/payment.png" width="161"
                                 height="64" alt="image-casino">
                        </picture>
                    </div>
                    <div class="casinos-payments__item-cont">
                        <div class="casinos-payments__item-title">Mastercard</div>
                        <div class="casinos-payments__item-info">
                            Kabra till now <span>350</span>
                        </div>
                    </div>
                </div>

                <a href='#' class="casinos-payments__item-link transparent-btn-blue">Pay</a>
            </li>
            <li class="casinos-payments__item">
                <div class="casinos-payments__item-row">
                    <div class="casinos-payments__item-image">
                        <picture>
                            <source srcset="img/page7/payment.webp" type="image/webp">
                            <img loading="lazy" src="img/page7/payment.png" width="161"
                                 height="64" alt="image-casino">
                        </picture>
                    </div>
                    <div class="casinos-payments__item-cont">
                        <div class="casinos-payments__item-title">Mastercard</div>
                        <div class="casinos-payments__item-info">
                            Kabra till now <span>350</span>
                        </div>
                    </div>
                </div>

                <a href='#' class="casinos-payments__item-link transparent-btn-blue">Pay</a>
            </li>
        </ul>
        <a href="#" class="casinos-payments__link transparent-btn-blue">Show All</a>
    </div>
</section>