<section class="contacts">
    <div class="contacts__container">
        <div class="contacts__row">
            <div class="contacts__info">
                <h2 class="contacts__info-title">Best Online Casinos</h2>
                <p class="contacts__info-text">
                    To play Norwegian casino games online safely, we recommend only doing so on regulated and licensed
                    casino platforms. Also, make sure that our team can only nominate titles that To play Norwegian
                    casino games online safely, we recommend only doing so on regulated and licensed casino platforms.
                    Also, make sure that our team only nominates titles that To play Norwegian casino games online
                    safely, we recommend only doing so on regulated and licensed casino platforms. Also, make sure that
                    our team only nominates titles that
                </p>
                <div class="contacts__info-cont">
                    <div class="contacts__info-wrap">
                        <div class="contacts__info-subtitle">Betson Casino Reviews</div>
                        <ul class="contacts__info-list">
                            <li class="contacts__info-item">
                                <div class="contacts__info-item-title">Cooperation</div>
                                <a href="#" class="contacts__info-item-link">support@slotys.com</a>
                            </li>
                            <li class="contacts__info-item">
                                <div class="contacts__info-item-title">Department of support</div>
                                <a href="#" class="contacts__info-item-link">supt@slotys.com</a>
                            </li>
                            <li class="contacts__info-item">
                                <div class="contacts__info-item-title">Editorial staff</div>
                                <a href="#" class="contacts__info-item-link">support@slotys.com</a>
                            </li>
                            <li class="contacts__info-item">
                                <div class="contacts__info-item-title">HR department</div>
                                <a href="#" class="contacts__info-item-link">sup@slotys.com</a>
                            </li>
                            <li class="contacts__info-item">
                                <div class="contacts__info-item-title">HR department</div>
                                <a href="#" class="contacts__info-item-link">sup@slotys.com</a>
                            </li>
                            <li class="contacts__info-item">
                                <div class="contacts__info-item-title">Chief Editor</div>
                                <a href="#" class="contacts__info-item-link">suppport@slotys.com</a>
                            </li>
                        </ul>
                    </div>
                    <div class="contacts__social-wrap">
                        <div class="contacts__social-title">Ukraine has officially</div>
                    <div class="contacts__social">
                        <a href="#" class="contacts__social-item" aria-label="link-instagram">
                            <svg width="18px">
                                <use xlink:href="img/sprite.svg#insta"></use>
                            </svg>
                        </a>
                        <a href="#" class="contacts__social-item" aria-label="link-facebook">
                            <svg width="10px">
                                <use xlink:href="img/sprite.svg#facebook"></use>
                            </svg>
                        </a>
                        <a href="#" class="contacts__social-item" aria-label="link-linke">
                            <svg width="19px">
                                <use xlink:href="img/sprite.svg#linke"></use>
                            </svg>
                        </a>
                        <a href="#" class="contacts__social-item" aria-label="link-twitter">
                            <svg width="19.5px">
                                <use xlink:href="img/sprite.svg#twitter"></use>
                            </svg>
                        </a>
                        <a href="#" class="contacts__social-item" aria-label="link-telegram">
                            <svg width="20px">
                                <use xlink:href="img/sprite.svg#telegram"></use>
                            </svg>
                        </a>
                        <a href="#" class="contacts__social-item" aria-label="link-whats">
                            <svg width="20px">
                                <use xlink:href="img/sprite.svg#whats"></use>
                            </svg>
                        </a>
                    </div>
                    </div>
                </div>


            </div>
            <div class="contacts__form-wrap">
                <div class="contacts__form-title">The best title</div>
                <form action="#" class="contacts__form">
                    <div class="contacts__form-item">
                        <input type="text" id="name" name="name" class="contacts__form-input" placeholder="Name">
                    </div>
                    <div class="contacts__form-item">
                        <input type="email" id="email-form" name="email" class="contacts__form-input"
                               placeholder="Email">
                    </div>
                    <div class="contacts__form-item">
                        <textarea name="appeal" id="appeal" cols="30" rows="6" class="contacts__form-textarea"
                                  placeholder="Text appeal"></textarea>
                    </div>
                    <button type="submit" class="contacts__form-btn blue-btn">Send</button>
                </form>
            </div>
        </div>
    </div>
</section>