<section class="top">
    <div class="top__info">
        <h2>The best now</h2>
        <ul class="top__tabs">
            <li class="top__tabs-item">
                <button class="top__tabs-btn _active" aria-label="all">Licensed</button>
            </li>
            <li class="top__tabs-item">
                <button class="top__tabs-btn " aria-label="New">Licensed</button>
            </li>
        </ul>
    </div>
    <ul class="top__list">
        <li class="top__item">
            <a href="#" class="top__item-link" aria-label="link-news"></a>
            <div class="top__item-image">
                <picture>
                    <source srcset="img/page12/min-news-img.webp" type="image/webp">
                    <img loading="lazy" src="img/page12/min-news-img.jpg" width="780"
                         height="280" alt="image-casino">
                </picture>
                <time datetime="2008-02-14 20:00">20.08.2022</time>
                <span>Licensed</span>
            </div>
            <p>Ukraine has officially reported on series of unique developments Officially</p>

        </li>
        <li class="top__item">
            <a href="#" class="top__item-link" aria-label="link-news"></a>
            <div class="top__item-image">
                <picture>
                    <source srcset="img/page12/min-news-img.webp" type="image/webp">
                    <img loading="lazy" src="img/page12/min-news-img.jpg" width="780"
                         height="280" alt="image-casino">
                </picture>
                <time datetime="2008-02-14 20:00">20.08.2022</time>
                <span>Licensed</span>
            </div>
            <p>Ukraine has officially reported on series of unique developments Officially</p>

        </li>
        <li class="top__item">
            <a href="#" class="top__item-link" aria-label="link-news"></a>
            <div class="top__item-image">
                <picture>
                    <source srcset="img/page12/min-news-img.webp" type="image/webp">
                    <img loading="lazy" src="img/page12/min-news-img.jpg" width="780"
                         height="280" alt="image-casino">
                </picture>
                <time datetime="2008-02-14 20:00">20.08.2022</time>
                <span>Licensed</span>
            </div>
            <p>Ukraine has officially reported on series of unique developments Officially</p>

        </li>
        <li class="top__item">
            <a href="#" class="top__item-link" aria-label="link-news"></a>
            <div class="top__item-image">
                <picture>
                    <source srcset="img/page12/min-news-img.webp" type="image/webp">
                    <img loading="lazy" src="img/page12/min-news-img.jpg" width="780"
                         height="280" alt="image-casino">
                </picture>
                <time datetime="2008-02-14 20:00">20.08.2022</time>
                <span>Licensed</span>
            </div>
            <p>Ukraine has officially reported on series of unique developments Officially</p>

        </li>
        <li class="top__item">
            <a href="#" class="top__item-link" aria-label="link-news"></a>
            <div class="top__item-image">
                <picture>
                    <source srcset="img/page12/min-news-img.webp" type="image/webp">
                    <img loading="lazy" src="img/page12/min-news-img.jpg" width="780"
                         height="280" alt="image-casino">
                </picture>
                <time datetime="2008-02-14 20:00">20.08.2022</time>
                <span>Licensed</span>
            </div>
            <p>Ukraine has officially reported on series of unique developments Officially</p>

        </li>
        <li class="top__item">
            <a href="#" class="top__item-link" aria-label="link-news"></a>
            <div class="top__item-image">
                <picture>
                    <source srcset="img/page12/min-news-img.webp" type="image/webp">
                    <img loading="lazy" src="img/page12/min-news-img.jpg" width="780"
                         height="280" alt="image-casino">
                </picture>
                <time datetime="2008-02-14 20:00">20.08.2022</time>
                <span>Licensed</span>
            </div>
            <p>Ukraine has officially reported on series of unique developments Officially</p>

        </li>
        <li class="top__item">
            <a href="#" class="top__item-link" aria-label="link-news"></a>
            <div class="top__item-image">
                <picture>
                    <source srcset="img/page12/min-news-img.webp" type="image/webp">
                    <img loading="lazy" src="img/page12/min-news-img.jpg" width="780"
                         height="280" alt="image-casino">
                </picture>
                <time datetime="2008-02-14 20:00">20.08.2022</time>
                <span>Licensed</span>
            </div>
            <p>Ukraine has officially reported on series of unique developments Officially</p>

        </li>
        <li class="top__item">
            <a href="#" class="top__item-link" aria-label="link-news"></a>
            <div class="top__item-image">
                <picture>
                    <source srcset="img/page12/min-news-img.webp" type="image/webp">
                    <img loading="lazy" src="img/page12/min-news-img.jpg" width="780"
                         height="280" alt="image-casino">
                </picture>
                <time datetime="2008-02-14 20:00">20.08.2022</time>
                <span>Licensed</span>
            </div>
            <p>Ukraine has officially reported on series of unique developments Officially</p>

        </li>
        <li class="top__item">
            <a href="#" class="top__item-link" aria-label="link-news"></a>
            <div class="top__item-image">
                <picture>
                    <source srcset="img/page12/min-news-img.webp" type="image/webp">
                    <img loading="lazy" src="img/page12/min-news-img.jpg" width="780"
                         height="280" alt="image-casino">
                </picture>
                <time datetime="2008-02-14 20:00">20.08.2022</time>
                <span>Licensed</span>
            </div>
            <p>Ukraine has officially reported on series of unique developments Officially</p>

        </li>
        <li class="top__item">
            <a href="#" class="top__item-link" aria-label="link-news"></a>
            <div class="top__item-image">
                <picture>
                    <source srcset="img/page12/min-news-img.webp" type="image/webp">
                    <img loading="lazy" src="img/page12/min-news-img.jpg" width="780"
                         height="280" alt="image-casino">
                </picture>
                <time datetime="2008-02-14 20:00">20.08.2022</time>
                <span>Licensed</span>
            </div>
            <p>Ukraine has officially reported on series of unique developments Officially</p>

        </li>
        <li class="top__item">
            <a href="#" class="top__item-link" aria-label="link-news"></a>
            <div class="top__item-image">
                <picture>
                    <source srcset="img/page12/min-news-img.webp" type="image/webp">
                    <img loading="lazy" src="img/page12/min-news-img.jpg" width="780"
                         height="280" alt="image-casino">
                </picture>
                <time datetime="2008-02-14 20:00">20.08.2022</time>
                <span>Licensed</span>
            </div>
            <p>Ukraine has officially reported on series of unique developments Officially</p>

        </li>
        <li class="top__item">
            <a href="#" class="top__item-link" aria-label="link-news"></a>
            <div class="top__item-image">
                <picture>
                    <source srcset="img/page12/min-news-img.webp" type="image/webp">
                    <img loading="lazy" src="img/page12/min-news-img.jpg" width="780"
                         height="280" alt="image-casino">
                </picture>
                <time datetime="2008-02-14 20:00">20.08.2022</time>
                <span>Licensed</span>
            </div>
            <p>Ukraine has officially reported on series of unique developments Officially</p>

        </li>
        <li class="top__item">
            <a href="#" class="top__item-link" aria-label="link-news"></a>
            <div class="top__item-image">
                <picture>
                    <source srcset="img/page12/min-news-img.webp" type="image/webp">
                    <img loading="lazy" src="img/page12/min-news-img.jpg" width="780"
                         height="280" alt="image-casino">
                </picture>
                <time datetime="2008-02-14 20:00">20.08.2022</time>
                <span>Licensed</span>
            </div>
            <p>Ukraine has officially reported on series of unique developments Officially</p>

        </li>
        <li class="top__item">
            <a href="#" class="top__item-link" aria-label="link-news"></a>
            <div class="top__item-image">
                <picture>
                    <source srcset="img/page12/min-news-img.webp" type="image/webp">
                    <img loading="lazy" src="img/page12/min-news-img.jpg" width="780"
                         height="280" alt="image-casino">
                </picture>
                <time datetime="2008-02-14 20:00">20.08.2022</time>
                <span>Licensed</span>
            </div>
            <p>Ukraine has officially reported on series of unique developments Officially</p>

        </li>
        <li class="top__item">
            <a href="#" class="top__item-link" aria-label="link-news"></a>
            <div class="top__item-image">
                <picture>
                    <source srcset="img/page12/min-news-img.webp" type="image/webp">
                    <img loading="lazy" src="img/page12/min-news-img.jpg" width="780"
                         height="280" alt="image-casino">
                </picture>
                <time datetime="2008-02-14 20:00">20.08.2022</time>
                <span>Licensed</span>
            </div>
            <p>Ukraine has officially reported on series of unique developments Officially</p>

        </li>
    </ul>
    <div class="top__pagination">
        <button class="top__pagination-btn top__pagination-btn-left blue-btn" aria-label="arrow-pagination">
            <img src="img/page12/arrow-left-pagination.svg" alt="arrow" width="12" height="6">
        </button>
        <button class="top__pagination-btn top__pagination-btn-number" aria-label="number-pagination">1</button>
        <button class="top__pagination-btn top__pagination-btn-number _active" aria-label="number-pagination">2</button>
        <button class="top__pagination-btn top__pagination-btn-number" aria-label="number-pagination">3</button>
        <button class="top__pagination-btn top__pagination-btn-number" aria-label="number-pagination">4</button>
        <button class="top__pagination-btn top__pagination-btn-number" aria-label="number-pagination">5</button>
        <button class="top__pagination-btn top__pagination-btn-right blue-btn" aria-label="arrow-pagination">
            <img src="img/page12/arrow-left-pagination.svg" alt="arrow" width="12" height="6">
        </button>
    </div>
</section>