.content{
  background: $white;
  padding: 60px 0;
  &__title{
    margin: 0 0 10px 0;
    color: $blue;
  }
  &__text{
    font-size: 14px;
    line-height: 22px;
    color: $blue-white;
    max-width: 940px;
    margin: 0 0 20px 0;
  }
  &__list{
    display: grid;
    gap: 25px;
    grid-template-columns: calc(25% - 18.75px) calc(25% - 18.75px) calc(25% - 18.75px) calc(25% - 18.75px);

  }
  &__item{
    width: 100%;
  }
  &__link{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 25px 17px;
    font-family: $font-popins-semb;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: -0.004em;
    color: $blue;
    background: $green-light;
    border-radius: 8px;
    transition: background-color $transition;
    &:hover{
      background: $green-light-hover;
    }
    &::after{
      content: '';
      display: inline-block;
      margin: 0 0 0 10px;
      width: 11px;
      height: 13px;
      background: url("../img/home/content/arrow-link-content.svg") no-repeat 0 0/contain;
      transition: transform $transition;
    }
    &:hover::after{
      transform: translateX(5px);
    }
  }
}

@media screen and (max-width: 1024px) {
  .content{
    &__list{
      display: grid;
      gap: 25px;
      grid-template-columns: calc(33.333% - 16.666px) calc(33.333% - 16.666px) calc(33.333% - 16.666px) ;

    }
  }
}

@media screen and (max-width: 760px) {
  .content{
    &__list{
      display: grid;
      gap: 15px;
      grid-template-columns: calc(50% - 7.5px) calc(50% - 7.5px) ;

    }
  }
}

@media screen and (max-width: 600px) {
  .content{
    padding: 40px 0;
    &__list{
      display: grid;
      gap: 10px;
      grid-template-columns: 100%;
    }
    &__title{
      margin: 0 0 5px 0;
    }
    &__text{
      font-size: 13px;
      line-height: 22px;
      margin: 0 0 10px 0;
    }
    &__link{
      font-size: 14px;
      line-height: 21px;
      padding: 15px 20px 14px;
    }
  }
}