.news {
  background: $white;
  padding: 60px 0;

  &__row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__blog {
    max-width: 880px;
    margin: 0 30px 0 0;
  }


}


//casino-online aside styles
.casino-online {
  display: flex;
  flex-direction: column;


  &__all-link {
    margin: 0 auto;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    font-size: 14px;
    line-height: 20px;
    text-align: start;
    font-family: $font-popins-semb;
    padding: 10px 20px 9px;
    &::after{
      content: '';
      display: inline-block;
      margin-left: 10px;
      width: 7px;
      height: 12px;
      background: url("../img/home/best/arrow-link.svg") no-repeat 0 0/contain;
      transition: transform $transition;
    }
    &:hover::after{
      transform: translateX(5px);
    }
  }

  &__title {
    font-family: $font-rougant;
    font-size: 28px;
    line-height: 48px;
    letter-spacing: -0.01em;
    color: $blue;
    margin: 0 0 10px 0;
    text-align: center;
  }

  &__list {
    margin: 0 0 30px 0;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px 15px;
  }

  &__item{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 105px;
    max-width: 105px;

    &-image{
      max-width: 105px;
      min-width: 105px;
      img{
        border-radius: 4px;
      }
    }
    &-info{
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: -6.5px 0 5px 0;
    }
    &-title{
      font-family: $font-popins-semb;
      text-align: center;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: -0.004em;
      color: $blue;
    }
    &-reviews{
      display: flex;
      align-items: center;
      justify-content: center;
      background: $yellow;
      padding: 0 6px 0;
      border-radius: 100px;
      margin: 0 0 5px 0;
      &-img{
        display: inline-block;
        margin: 0 8px 0 0;
      }
      &-grade{
        font-family: $font-popins-semb;
        font-size: 9px;
        line-height: 16px;
        color: $blue;

      }
    }
    &-link{
      display: inline-block;
      padding: 7px 17px 5px;
      font-family: $font-popins-reg;
      font-size: 12px;
      line-height: 20px;
      white-space: nowrap;
      border-radius: 100px;
      background: $green-light;
      color: $blue;
      transition: background-color $transition;
      &:hover{
        background: $green-light-hover;
      }

    }
  }

  &__links{
    margin-top: 40px;
    padding: 30px 20px;
    border: 1px solid $green-light;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    &-item{
      &:not(:last-child){
        margin: 0 0 30px 0;
      }
      &:nth-child(1){
        .casino-online__links-item-title{
          &::before{
            background: url("../img/home/news/link-icon-title-1.svg") no-repeat 0 0/contain;
          }
        }
      }
      &:nth-child(2){
        .casino-online__links-item-title{
          &::before{
            background: url("../img/home/news/link-icon-title-2.svg") no-repeat 0 0/contain;
          }
        }
      }
      &:nth-child(3){
        .casino-online__links-item-title{
          &::before{
            background: url("../img/home/news/link-icon-title-3.svg") no-repeat 0 0/contain;
          }
        }
      }
      &:nth-child(4){
        .casino-online__links-item-title{
          &::before{
            background: url("../img/home/news/link-icon-title-4.svg") no-repeat 0 0/contain;
          }
        }
      }
      &:nth-child(5){
        .casino-online__links-item-title{
          &::before{
            background: url("../img/home/news/link-icon-title-5.svg") no-repeat 0 0/contain;
          }
        }
      }
      &:nth-child(6){
        .casino-online__links-item-title{
          &::before{
            background: url("../img/home/news/link-icon-title-6.svg") no-repeat 0 0/contain;
          }
        }
      }
      &-title {
        font-family: $font-popins-semb;
        font-size: 17px;
        line-height: 26px;
        display: flex;
        align-items: center;
        margin: 0 0 20px 0;
        &::before {
          content: '';
          width: 40px;
          height: 40px;
          display: inline-block;
          margin: 0 15px 0 0;
        }
      }
      &-list{
        display: flex;
        flex-direction: column;
      }
      &-link{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 0;
        width: 100%;
        font-size: 15px;
        line-height: 18px;
        color: $blue;
        transition: color $transition;
        &::after{
          content: '';
          display: inline-block;
          width: 7px;
          height: 12px;
          background: url("../img/home/news/arrow-link.svg") no-repeat 0 0/contain;
          transition: transform $transition;
        }
        &:hover{
          color: $blue-hover;
        }
        &:hover::after{
          transform: translateX(5px);
        }
      }

    }
  }
}

@media screen and (max-width: 1024px) {
  .casino-online {
    padding: 40px 0;
    background: $green-light;
    width: 105%;
    align-self: center;

    &__wrap{
      order: 2;
      width: 80%;
      margin: 0 auto;
    }

    &__list{
      justify-items: center;
    }

    &__item{
      &-link{
        color: $yellow;
        border-radius: 100px;
        background: $blue;
        transition: background-color $transition;
        &:hover{
          background: $blue-hover;
        }
      }
    }

    &__all-link {
      width: 80%;
      text-align: center;
      margin: 0 auto;
    }

    &__links{
      order: 1;
      margin-top: 0;
      margin-bottom: 40px;
      flex-direction: row;
      overflow-x: scroll;
      padding: 0 20px;
      border-radius: 0;
      &-item{
        padding: 30px 20px;
        border-radius: 8px;
        background: $white;
        min-width: 310px;
        max-width: 310px;
        &:not(:last-child){
          margin: 0 15px 0 0;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .casino-online {
    width: 100%;
    padding: 40px 0;

    &__list,
    &__title,
    &__links{
      padding: 0 15px;
    }

    &__all-link{
      width: calc(100% - 30px);
    }

    &__wrap {
      width: 100%;
      border-radius: 0;

    }

    &__title {
      font-size: 22px;
      line-height: 26px;
      margin: 0 0 15px 0;
    }

  }
}
@media screen and (max-width: 370px) {
  .casino-online{
    &__list{
      grid-template-columns: auto auto ;
    }
  }
}



.news__blog {
  h2 {
    font-family: $font-popins-semb;
    font-size: 24px;
    line-height: 48px;
    color: $blue;
    margin: 0 0 10px 0;
  }

  h3, h4, h5, h6 {
    font-family: $font-popins-semb;
    letter-spacing: -0.01em;
    color: $black-one;
  }

  h3 {
    font-size: 20px;
    line-height: 40px;
  }

  h4 {
    font-size: 18px;
    line-height: 48px;
  }

  h5 {
    font-size: 16px;
    line-height: 48px;
  }

  h6 {
    font-size: 14px;
    line-height: 48px;
  }

  p, li {
    font-family: $font-popins-reg;
    font-size: 14px;
    line-height: 26px;
    margin: 0 0 20px 0;
    color: $black-one;
  }

  ol {
    list-style-type: none;
    margin: 0 0 30px 0;
    counter-reset: counter-ol;

    li {
      display: flex;
      align-items: flex-start;

      &::before {
        counter-increment: counter-ol;
        content: counter(counter-ol) " ";
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px 10px 0 0;
        font-family: $font-popins-semb;
        color: $yellow;
        min-width: 24px;
        min-height: 24px;
        font-size: 15px;
        line-height: 25px;
        border-radius: 50%;
        background: $green;
      }

      &:not(:last-child) {
        margin: 0 0 20px 0;
      }

      p {
        margin: 0;
        color: $black-one;
      }
    }
  }

  ul {
    margin: 0 0 30px 0;

    li {
      position: relative;
      padding: 0 0 0 40px;

      &::before {
        content: '';
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 5px;
        left: 0;
        width: 27px;
        height: 27px;
        background: url("../img/home/news/arrow-done.svg") no-repeat 0 0/contain;
      }

      &:not(:last-child) {
        margin: 0 0 15px 0;
      }

      p {
        margin: 0;
        color: $black-one;
      }
    }
  }

  blockquote {
    position: relative;
    padding: 85px 30px 20px;
    border-left: 2px solid $green-light;
    background: transparent;
    color: $blue;
    font-size: 15px;
    line-height: 30px;
    font-style: italic;
    letter-spacing: 0.01em;
    margin: 0 0 20px 0;

    span{
      display: block;
      margin-top: 10px;
      font-size: 15px;
      line-height: 20px;
      font-family: $font-popins-semb;
      font-style: normal;
      color: $blue;
    }

    &::before {
      pointer-events: none;
      font-style: normal;
      content: '‟';
      font-size: 75px;
      line-height: 75px;
      transform: scale(1, -1);
      height: 18px;
      color: $green;
      position: absolute;
      display: inline-block;
      top: 30px;
      left: 30px;
    }

    &::after {
      pointer-events: none;
      font-style: normal;
      content: '‟';
      font-size: 75px;
      line-height: 75px;
      transform: scale(-1, 1);
      height: 18px;
      color: $green;
      position: absolute;
      display: inline-block;
      top: 40px;
      left: 52px;
    }
  }
}

.content-table {
  border-radius: 20px;
  overflow-x: hidden;

  table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 0 20px 0;
    background: $green-light;

    tr, td {
      border: 1px solid #ddd;
      padding: 15px;
      color: $black-one;
      font-size: 15px;
      line-height: 20px;
    }

    tr:first-child {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background: $green;

      td {
        color: $white;
      }

    }
  }
}

.content-author{
  padding: 30px;
  border: 1px solid $green-white;
  border-radius: 8px;
  position: relative;
  margin: 0 0 20px 0;
  &::before{
    content: '';
    position: absolute;
    width: 77px;
    height: 46px;
    background: url("../img/home/news/author-des.svg") no-repeat 0 0/contain;
  }
  &__row{
    padding: 0 0 0 100px;
    display: flex;
    align-items: center;
    margin: 0 0 10px 0;
  }
  &__image{
    margin: 0 10px 0 0;
    max-width: 48px;
    img{
      border-radius: 50%;
    }
  }
  &__info{
    &-wrap{
      display: flex;
      align-items: center;
    }
  }
  &__name{
    font-family: $font-popins-semb;
    font-size: 15px;
    line-height: 20px;
    color: $blue;
    margin: 0 10px 0 0;
  }
  &__licensed{
    font-size: 12px;
    line-height: 15px;
    color: $black-one;
  }
  &__date{
    font-size: 11px;
    line-height: 20px;
    color: $black-one;
  }
  &__text{
    font-style: italic;
    font-size: 18px;
    line-height: 34px;
    color: $blue;
  }
}

@media screen and (max-width: 1024px) {
  .news {
    padding: 60px 0 0 0;
    &__row {
      flex-direction: column;
    }

    &__blog {
      margin: 0 0 20px 0;
      max-width: 100%;
    }
  }

  .content-table {
    overflow-x: scroll;

    table {
      min-width: 600px;
    }
  }
}

@media screen and (max-width: 600px) {
  .news {
    padding: 50px 0 0 0 ;

    &__container {
      padding: 0;
    }

    &__blog {
      padding: 0 15px;
    }
  }

  .content-table {
    table {
      tr, td {
        font-size: 13px;
        line-height: 19px;
      }
    }
  }

  .content-author{
    padding: 15px;
    &__text{
      font-size: 16px;
      line-height: 30px;
    }

  }

  .news__blog {
    h2 {
      font-size: 20px;
      line-height: 30px;
      margin: 0 0 15px 0;
    }

    h3, h4, h5, h6 {
      font-size: 17px;
      line-height: 26px;
    }

    p, li {
      font-size: 13px;
      line-height: 22px;
      margin: 0 0 15px 0;
    }

    ol {
      margin: 0 0 20px 0;

      li {
        &:not(:last-child) {
          margin: 0 0 10px 0;
        }
      }
    }

    ul {
      margin: 0 0 20px 0;
    }

    blockquote {
      padding: 85px 20px 20px 20px;
      font-size: 13px;
      line-height: 28px;
    }
  }
}

@media screen and (max-width: 370px){
  .content-author{
    &::before{
      width: 47px;
      height: 24px;
    }

    &__row{
      padding: 0 0 0 51px;
    }
  }
}



