<section class="pay">
    <h2 class="pay__title title-pop">A casino with a mastercard</h2>
    <ul class="pay__list">
        <li class="pay__item">
            <div class="pay__item-wrap">
                <div class="pay__item-image">
                    <picture>
                        <source srcset="img/page8/image-pay.webp" type="image/webp">
                        <img loading="lazy" src="img/page8/image-pay.jpg" width="104"
                             height="48" alt="image-casino">
                    </picture>
                </div>
                <div class="pay__item-info">
                    <div class="pay__item-title">Parimatch</div>
                    <div class="pay__item-review">
                        <img src="img/page8/star.svg" alt="star" width="14" height="14">
                        <div class="pay__item-review-text">4.5</div>
                    </div>
                </div>
            </div>
            <div class="pay__item-cont">
                <div class="pay__item-text">Up 100% get bonus 90,000$</div>
                <div class="pay__item-bonus">Biggest Bonus Ever Bonus Registration</div>
            </div>
            <div class="pay__item-buttons">
                <a href="#" class="pay__item-btn blue-btn">Review</a>
                <a href="#" class="pay__item-btn yellow-btn">Pay</a>
            </div>
        </li>
        <li class="pay__item">
            <div class="pay__item-wrap">
                <div class="pay__item-image">
                    <picture>
                        <source srcset="img/page8/image-pay.webp" type="image/webp">
                        <img loading="lazy" src="img/page8/image-pay.jpg" width="104"
                             height="48" alt="image-casino">
                    </picture>
                </div>
                <div class="pay__item-info">
                    <div class="pay__item-title">Parimatch</div>
                    <div class="pay__item-review">
                        <img src="img/page8/star.svg" alt="star" width="14" height="14">
                        <div class="pay__item-review-text">4.5</div>
                    </div>
                </div>
            </div>
            <div class="pay__item-cont">
                <div class="pay__item-text">Up 100% get bonus 90,000$</div>
                <div class="pay__item-bonus">Biggest Bonus Ever Bonus Registration</div>
            </div>
            <div class="pay__item-buttons">
                <a href="#" class="pay__item-btn blue-btn">Review</a>
                <a href="#" class="pay__item-btn yellow-btn">Pay</a>
            </div>
        </li>
        <li class="pay__item">
            <div class="pay__item-wrap">
                <div class="pay__item-image">
                    <picture>
                        <source srcset="img/page8/image-pay.webp" type="image/webp">
                        <img loading="lazy" src="img/page8/image-pay.jpg" width="104"
                             height="48" alt="image-casino">
                    </picture>
                </div>
                <div class="pay__item-info">
                    <div class="pay__item-title">Parimatch</div>
                    <div class="pay__item-review">
                        <img src="img/page8/star.svg" alt="star" width="14" height="14">
                        <div class="pay__item-review-text">4.5</div>
                    </div>
                </div>
            </div>
            <div class="pay__item-cont">
                <div class="pay__item-text">Up 100% get bonus 90,000$</div>
                <div class="pay__item-bonus">Biggest Bonus Ever Bonus Registration</div>
            </div>
            <div class="pay__item-buttons">
                <a href="#" class="pay__item-btn blue-btn">Review</a>
                <a href="#" class="pay__item-btn yellow-btn">Pay</a>
            </div>
        </li>
        <li class="pay__item">
            <div class="pay__item-wrap">
                <div class="pay__item-image">
                    <picture>
                        <source srcset="img/page8/image-pay.webp" type="image/webp">
                        <img loading="lazy" src="img/page8/image-pay.jpg" width="104"
                             height="48" alt="image-casino">
                    </picture>
                </div>
                <div class="pay__item-info">
                    <div class="pay__item-title">Parimatch</div>
                    <div class="pay__item-review">
                        <img src="img/page8/star.svg" alt="star" width="14" height="14">
                        <div class="pay__item-review-text">4.5</div>
                    </div>
                </div>
            </div>
            <div class="pay__item-cont">
                <div class="pay__item-text">Up 100% get bonus 90,000$</div>
                <div class="pay__item-bonus">Biggest Bonus Ever Bonus Registration</div>
            </div>
            <div class="pay__item-buttons">
                <a href="#" class="pay__item-btn blue-btn">Review</a>
                <a href="#" class="pay__item-btn yellow-btn">Pay</a>
            </div>
        </li>
        <li class="pay__item">
            <div class="pay__item-wrap">
                <div class="pay__item-image">
                    <picture>
                        <source srcset="img/page8/image-pay.webp" type="image/webp">
                        <img loading="lazy" src="img/page8/image-pay.jpg" width="104"
                             height="48" alt="image-casino">
                    </picture>
                </div>
                <div class="pay__item-info">
                    <div class="pay__item-title">Parimatch</div>
                    <div class="pay__item-review">
                        <img src="img/page8/star.svg" alt="star" width="14" height="14">
                        <div class="pay__item-review-text">4.5</div>
                    </div>
                </div>
            </div>
            <div class="pay__item-cont">
                <div class="pay__item-text">Up 100% get bonus 90,000$</div>
                <div class="pay__item-bonus">Biggest Bonus Ever Bonus Registration</div>
            </div>
            <div class="pay__item-buttons">
                <a href="#" class="pay__item-btn blue-btn">Review</a>
                <a href="#" class="pay__item-btn yellow-btn">Pay</a>
            </div>
        </li>
        <li class="pay__item">
            <div class="pay__item-wrap">
                <div class="pay__item-image">
                    <picture>
                        <source srcset="img/page8/image-pay.webp" type="image/webp">
                        <img loading="lazy" src="img/page8/image-pay.jpg" width="104"
                             height="48" alt="image-casino">
                    </picture>
                </div>
                <div class="pay__item-info">
                    <div class="pay__item-title">Parimatch</div>
                    <div class="pay__item-review">
                        <img src="img/page8/star.svg" alt="star" width="14" height="14">
                        <div class="pay__item-review-text">4.5</div>
                    </div>
                </div>
            </div>
            <div class="pay__item-cont">
                <div class="pay__item-text">Up 100% get bonus 90,000$</div>
                <div class="pay__item-bonus">Biggest Bonus Ever Bonus Registration</div>
            </div>
            <div class="pay__item-buttons">
                <a href="#" class="pay__item-btn blue-btn">Review</a>
                <a href="#" class="pay__item-btn yellow-btn">Pay</a>
            </div>
        </li>
        <li class="pay__item">
            <div class="pay__item-wrap">
                <div class="pay__item-image">
                    <picture>
                        <source srcset="img/page8/image-pay.webp" type="image/webp">
                        <img loading="lazy" src="img/page8/image-pay.jpg" width="104"
                             height="48" alt="image-casino">
                    </picture>
                </div>
                <div class="pay__item-info">
                    <div class="pay__item-title">Parimatch</div>
                    <div class="pay__item-review">
                        <img src="img/page8/star.svg" alt="star" width="14" height="14">
                        <div class="pay__item-review-text">4.5</div>
                    </div>
                </div>
            </div>
            <div class="pay__item-cont">
                <div class="pay__item-text">Up 100% get bonus 90,000$</div>
                <div class="pay__item-bonus">Biggest Bonus Ever Bonus Registration</div>
            </div>
            <div class="pay__item-buttons">
                <a href="#" class="pay__item-btn blue-btn">Review</a>
                <a href="#" class="pay__item-btn yellow-btn">Pay</a>
            </div>
        </li>
    </ul>
    <a href="#" class="pay__all-link">Show All</a>
</section>