.top{
  display: flex;
  flex-direction: column;

  &__info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 20px 0;
  }

  h2{
    font-family: $font-rougant;
    font-size: 28px;
    line-height: 40px;
    color: $blue;
    margin: 0 15px 0 0;
  }

  &__tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(56, 99, 46, 0.1);
    border-radius: 100px;
    max-width: 340px;
    width: 100%;

    &-wrap {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    &-item{
      width: 100%;
      &:first-child{
        .top__tabs-btn{
          border-right: 1px solid rgba(56, 99, 46, 0.1);
        }
      }
    }

    &-btn {
      width: 100%;
      position: relative;
      display: inline-block;
      padding: 10px 10px 9px;
      font-size: 14px;
      line-height: 19px;
      color: $blue-white;
      background: transparent;
      transition: background-color $transition, color $transition, box-shadow $transition;


      &::after{
        opacity: 0;
        content: '';
        position: absolute;
        bottom: 0;
        width: 43%;
        height: 2px;
        left: 50%;
        transform: translateX(-50%);
        background: $blue;
        border-radius: 100px;
        transition: opacity $transition;
      }

      &:hover::after{
        opacity: 1;
      }

      &:hover {
        color: $blue;

      }

      &._active {
        color: $blue;
      }

      &._active::after {
        opacity: 1;
      }

    }
  }

  &__list{
    display: grid;
    grid-template-columns: calc(50% - 12px) calc(50% - 12px);
    gap: 24px;
    margin: 0 0 30px 0;
  }

  &__item{
    position: relative;
    &-link{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    &-image{
      margin: 0 0 10px 0;
      position: relative;

      img{
        border-radius: 8px;
        min-width: 100%;
      }

      time{
        position: absolute;
        left: 10px;
        bottom: 10px;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: -0.004em;
        color: $black-one;
        padding: 4px 10px 3px;
        background: $grey-licensed-bg;
        border-radius: 100px;
      }
      span{
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: -0.004em;
        color: $black-one;
        padding: 4px 10px 3px;
        background: $grey-licensed-bg;
        border-radius: 100px;
        margin: 0 5px 0 0;
      }
    }

    &-licensed{
      display: flex;
      align-items: center;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: -0.004em;
      color: $blue;
      margin: 0 0 5px 0;
      span{
        display: inline-block;
        &:not(:last-child){
          margin: 0 8px 0 0;
        }
      }
    }

    p{
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.01em;
      color: $blue;
      margin: 0 0 5px 0;
    }


  }

  &__pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    &-btn{
      font-family: $font-popins-semb;
      color: $blue;
      font-size: 15px;
      line-height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 38px;
      height: 38px;
      border-radius: 50%;

      &:not(:last-child){
        margin: 0 10px 0 0;
      }

      &-right{
        img{
          transform: scale(-1);
        }
      }

      &-number{
        background: $green-light;
        outline: 0px solid $white;
        transition: background-color $transition, outline-color $transition;
        &._active{
          background: $green-light-hover;
          outline: 1px solid $blue;
        }
        &:hover{
          background: $green-light-hover;
          outline: 1px solid $blue;
        }
      }
    }

  }

}

@media screen and (max-width: 1024px) {
  .top{
    padding: 0 15px 30px 15px;
    &__item{
      &-image{
        img{
          min-width: 100%;
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .top{
    &__tabs{
      width: 100%;
      max-width: 100%;
      &-item{
        width: 100%;
      }
      &-btn{
        width: 100%;
        text-align: center;
        font-size: 12px;
        line-height: 16px;
        padding: 8px 10px 7px;

      }
    }
    &__info{
      flex-direction: column;
      align-items: center;
    }
    h2{
      font-size: 24px;
      line-height: 30px;
      margin: 0 0 10px 0;
      text-align: start;
      width: 100%;
    }
    &__list{
      grid-template-columns: 100%;
      gap: 20px;
    }
  }
}

@media screen and (max-width: 370px) {
  .top{
    &__pagination{
      &-btn{
        width: 30px;
        height: 30px;
        font-size: 12px;
      }
    }
  }
}

