<section class="casinos-best">
    <div class="casinos-best__container">
        <h2 class="casinos-best__title title">Top online casinos in</h2>
        <p class="casinos-best__text">
            The best Australian online casino typically provides significant incentives, the newest casino games,
            high-end security and incredibly dependable customer care. In light of this, we are prepared to assist you
        </p>

        <ul class="casinos-best__list">
            <li class="casinos-best__item">
                <div class="casinos-best__item-info">
                    <div class="casinos-best__item-image">
                        <picture>
                            <source srcset="img/home/best/casino-img.webp" type="image/webp">
                            <img loading="lazy" src="img/home/best/casino-img.png" width="280"
                                 height="122" alt="image-casino">
                        </picture>
                    </div>
                    <div class="casinos-best__item-info-wrap">
                        <div class="casinos-best__item-title">Parimatch</div>
                        <div class="casinos-best__item-licensed">
                            <div class="casinos-best__item-licensed-item">Licensed</div>
                            <div class="casinos-best__item-licensed-item">Licensed</div>
                        </div>
                        <div class="casinos-best__item-reviews">
                            <div class="casinos-best__item-reviews-star">
                                <img src="img/home/best/star.svg" alt="star" width="11" height="11">
                                <div class="casinos-best__item-reviews-text">4.5</div>
                            </div>
                            <div class="casinos-best__item-reviews-message">
                                <img src="img/home/best/message.svg" alt="message" width="10" height="10">
                                <div class="casinos-best__item-reviews-text">22 reviews</div>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="casinos-best__item-plus-list">
                    <li class="casinos-best__item-plus-item">Company established in 1999 вiggest Bonus Ever an official license</li>
                    <li class="casinos-best__item-plus-item">Company established in 1999 вiggest Bonus Ever  Company established in 1999 вiggest Bonus Ever an official licensean official license</li>
                    <li class="casinos-best__item-plus-item">Company official licensean official license</li>
                    <li class="casinos-best__item-plus-item">Company official licensean official license Company established in 1999 вiggest Bonus Ever an </li>
                </ul>
                <div class="casinos-best__item-coupon">
                    <div class="casinos-best__item-coupon-title">Up 100% get bonus 90,000$</div>
                    <div class="casinos-best__item-coupon-text">Biggest Bonus Ever Bonus Registration</div>
                    <div class="casinos-best__item-coupon-buttons">
                        <a href="#" class="casinos-best__item-coupon-btn blue-btn">Play now</a>
                        <a href="#" class="casinos-best__item-coupon-btn yellow-btn">Get bonus</a>
                    </div>
                </div>
                <div class="casinos-best__item-showMore">More details</div>
            </li>
            <li class="casinos-best__item">
                <div class="casinos-best__item-info">
                    <div class="casinos-best__item-image">
                        <picture>
                            <source srcset="img/home/best/casino-img.webp" type="image/webp">
                            <img loading="lazy" src="img/home/best/casino-img.png" width="280"
                                 height="122" alt="image-casino">
                        </picture>
                    </div>
                    <div class="casinos-best__item-info-wrap">
                        <div class="casinos-best__item-title">Parimatch</div>
                        <div class="casinos-best__item-licensed">
                            <div class="casinos-best__item-licensed-item">Licensed</div>
                            <div class="casinos-best__item-licensed-item">Licensed</div>
                        </div>
                        <div class="casinos-best__item-reviews">
                            <div class="casinos-best__item-reviews-star">
                                <img src="img/home/best/star.svg" alt="star" width="11" height="11">
                                <div class="casinos-best__item-reviews-text">4.5</div>
                            </div>
                            <div class="casinos-best__item-reviews-message">
                                <img src="img/home/best/message.svg" alt="message" width="10" height="10">
                                <div class="casinos-best__item-reviews-text">22 reviews</div>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="casinos-best__item-plus-list">
                    <li class="casinos-best__item-plus-item">Company established in 1999 вiggest Bonus Ever an official license</li>
                    <li class="casinos-best__item-plus-item">Company established in 1999 вiggest Bonus Ever  Company established in 1999 вiggest Bonus Ever an official licensean official license</li>
                    <li class="casinos-best__item-plus-item">Company official licensean official license</li>
                    <li class="casinos-best__item-plus-item">Company official licensean official license Company established in 1999 вiggest Bonus Ever an </li>
                </ul>
                <div class="casinos-best__item-coupon">
                    <div class="casinos-best__item-coupon-title">Up 100% get bonus 90,000$</div>
                    <div class="casinos-best__item-coupon-text">Biggest Bonus Ever Bonus Registration</div>
                    <div class="casinos-best__item-coupon-buttons">
                        <a href="#" class="casinos-best__item-coupon-btn blue-btn">Play now</a>
                        <a href="#" class="casinos-best__item-coupon-btn yellow-btn">Get bonus</a>
                    </div>
                </div>
                <div class="casinos-best__item-showMore">More details</div>
            </li>
            <li class="casinos-best__item">
                <div class="casinos-best__item-info">
                    <div class="casinos-best__item-image">
                        <picture>
                            <source srcset="img/home/best/casino-img.webp" type="image/webp">
                            <img loading="lazy" src="img/home/best/casino-img.png" width="280"
                                 height="122" alt="image-casino">
                        </picture>
                    </div>
                    <div class="casinos-best__item-info-wrap">
                        <div class="casinos-best__item-title">Parimatch</div>
                        <div class="casinos-best__item-licensed">
                            <div class="casinos-best__item-licensed-item">Licensed</div>
                            <div class="casinos-best__item-licensed-item">Licensed</div>
                        </div>
                        <div class="casinos-best__item-reviews">
                            <div class="casinos-best__item-reviews-star">
                                <img src="img/home/best/star.svg" alt="star" width="11" height="11">
                                <div class="casinos-best__item-reviews-text">4.5</div>
                            </div>
                            <div class="casinos-best__item-reviews-message">
                                <img src="img/home/best/message.svg" alt="message" width="10" height="10">
                                <div class="casinos-best__item-reviews-text">22 reviews</div>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="casinos-best__item-plus-list">
                    <li class="casinos-best__item-plus-item">Company established in 1999 вiggest Bonus Ever an official license</li>
                    <li class="casinos-best__item-plus-item">Company established in 1999 вiggest Bonus Ever  Company established in 1999 вiggest Bonus Ever an official licensean official license</li>
                    <li class="casinos-best__item-plus-item">Company official licensean official license</li>
                    <li class="casinos-best__item-plus-item">Company official licensean official license Company established in 1999 вiggest Bonus Ever an </li>
                </ul>
                <div class="casinos-best__item-coupon">
                    <div class="casinos-best__item-coupon-title">Up 100% get bonus 90,000$</div>
                    <div class="casinos-best__item-coupon-text">Biggest Bonus Ever Bonus Registration</div>
                    <div class="casinos-best__item-coupon-buttons">
                        <a href="#" class="casinos-best__item-coupon-btn blue-btn">Play now</a>
                        <a href="#" class="casinos-best__item-coupon-btn yellow-btn">Get bonus</a>
                    </div>
                </div>
                <div class="casinos-best__item-showMore">More details</div>
            </li>
            <li class="casinos-best__item">
                <div class="casinos-best__item-info">
                    <div class="casinos-best__item-image">
                        <picture>
                            <source srcset="img/home/best/casino-img.webp" type="image/webp">
                            <img loading="lazy" src="img/home/best/casino-img.png" width="280"
                                 height="122" alt="image-casino">
                        </picture>
                    </div>
                    <div class="casinos-best__item-info-wrap">
                        <div class="casinos-best__item-title">Parimatch</div>
                        <div class="casinos-best__item-licensed">
                            <div class="casinos-best__item-licensed-item">Licensed</div>
                            <div class="casinos-best__item-licensed-item">Licensed</div>
                        </div>
                        <div class="casinos-best__item-reviews">
                            <div class="casinos-best__item-reviews-star">
                                <img src="img/home/best/star.svg" alt="star" width="11" height="11">
                                <div class="casinos-best__item-reviews-text">4.5</div>
                            </div>
                            <div class="casinos-best__item-reviews-message">
                                <img src="img/home/best/message.svg" alt="message" width="10" height="10">
                                <div class="casinos-best__item-reviews-text">22 reviews</div>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="casinos-best__item-plus-list">
                    <li class="casinos-best__item-plus-item">Company established in 1999 вiggest Bonus Ever an official license</li>
                    <li class="casinos-best__item-plus-item">Company established in 1999 вiggest Bonus Ever  Company established in 1999 вiggest Bonus Ever an official licensean official license</li>
                    <li class="casinos-best__item-plus-item">Company official licensean official license</li>
                    <li class="casinos-best__item-plus-item">Company official licensean official license Company established in 1999 вiggest Bonus Ever an </li>
                </ul>
                <div class="casinos-best__item-coupon">
                    <div class="casinos-best__item-coupon-title">Up 100% get bonus 90,000$</div>
                    <div class="casinos-best__item-coupon-text">Biggest Bonus Ever Bonus Registration</div>
                    <div class="casinos-best__item-coupon-buttons">
                        <a href="#" class="casinos-best__item-coupon-btn blue-btn">Play now</a>
                        <a href="#" class="casinos-best__item-coupon-btn yellow-btn">Get bonus</a>
                    </div>
                </div>
                <div class="casinos-best__item-showMore">More details</div>
            </li>
            <li class="casinos-best__item">
                <div class="casinos-best__item-info">
                    <div class="casinos-best__item-image">
                        <picture>
                            <source srcset="img/home/best/casino-img.webp" type="image/webp">
                            <img loading="lazy" src="img/home/best/casino-img.png" width="280"
                                 height="122" alt="image-casino">
                        </picture>
                    </div>
                    <div class="casinos-best__item-info-wrap">
                        <div class="casinos-best__item-title">Parimatch</div>
                        <div class="casinos-best__item-licensed">
                            <div class="casinos-best__item-licensed-item">Licensed</div>
                            <div class="casinos-best__item-licensed-item">Licensed</div>
                        </div>
                        <div class="casinos-best__item-reviews">
                            <div class="casinos-best__item-reviews-star">
                                <img src="img/home/best/star.svg" alt="star" width="11" height="11">
                                <div class="casinos-best__item-reviews-text">4.5</div>
                            </div>
                            <div class="casinos-best__item-reviews-message">
                                <img src="img/home/best/message.svg" alt="message" width="10" height="10">
                                <div class="casinos-best__item-reviews-text">22 reviews</div>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="casinos-best__item-plus-list">
                    <li class="casinos-best__item-plus-item">Company established in 1999 вiggest Bonus Ever an official license</li>
                    <li class="casinos-best__item-plus-item">Company established in 1999 вiggest Bonus Ever  Company established in 1999 вiggest Bonus Ever an official licensean official license</li>
                    <li class="casinos-best__item-plus-item">Company official licensean official license</li>
                    <li class="casinos-best__item-plus-item">Company official licensean official license Company established in 1999 вiggest Bonus Ever an </li>
                </ul>
                <div class="casinos-best__item-coupon">
                    <div class="casinos-best__item-coupon-title">Up 100% get bonus 90,000$</div>
                    <div class="casinos-best__item-coupon-text">Biggest Bonus Ever Bonus Registration</div>
                    <div class="casinos-best__item-coupon-buttons">
                        <a href="#" class="casinos-best__item-coupon-btn blue-btn">Play now</a>
                        <a href="#" class="casinos-best__item-coupon-btn yellow-btn">Get bonus</a>
                    </div>
                </div>
                <div class="casinos-best__item-showMore">More details</div>
            </li>
            <li class="casinos-best__item">
                <div class="casinos-best__item-info">
                    <div class="casinos-best__item-image">
                        <picture>
                            <source srcset="img/home/best/casino-img.webp" type="image/webp">
                            <img loading="lazy" src="img/home/best/casino-img.png" width="280"
                                 height="122" alt="image-casino">
                        </picture>
                    </div>
                    <div class="casinos-best__item-info-wrap">
                        <div class="casinos-best__item-title">Parimatch</div>
                        <div class="casinos-best__item-licensed">
                            <div class="casinos-best__item-licensed-item">Licensed</div>
                            <div class="casinos-best__item-licensed-item">Licensed</div>
                        </div>
                        <div class="casinos-best__item-reviews">
                            <div class="casinos-best__item-reviews-star">
                                <img src="img/home/best/star.svg" alt="star" width="11" height="11">
                                <div class="casinos-best__item-reviews-text">4.5</div>
                            </div>
                            <div class="casinos-best__item-reviews-message">
                                <img src="img/home/best/message.svg" alt="message" width="10" height="10">
                                <div class="casinos-best__item-reviews-text">22 reviews</div>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="casinos-best__item-plus-list">
                    <li class="casinos-best__item-plus-item">Company established in 1999 вiggest Bonus Ever an official license</li>
                    <li class="casinos-best__item-plus-item">Company established in 1999 вiggest Bonus Ever  Company established in 1999 вiggest Bonus Ever an official licensean official license</li>
                    <li class="casinos-best__item-plus-item">Company official licensean official license</li>
                    <li class="casinos-best__item-plus-item">Company official licensean official license Company established in 1999 вiggest Bonus Ever an </li>
                </ul>
                <div class="casinos-best__item-coupon">
                    <div class="casinos-best__item-coupon-title">Up 100% get bonus 90,000$</div>
                    <div class="casinos-best__item-coupon-text">Biggest Bonus Ever Bonus Registration</div>
                    <div class="casinos-best__item-coupon-buttons">
                        <a href="#" class="casinos-best__item-coupon-btn blue-btn">Play now</a>
                        <a href="#" class="casinos-best__item-coupon-btn yellow-btn">Get bonus</a>
                    </div>
                </div>
                <div class="casinos-best__item-showMore">More details</div>
            </li>
            <li class="casinos-best__item">
                <div class="casinos-best__item-info">
                    <div class="casinos-best__item-image">
                        <picture>
                            <source srcset="img/home/best/casino-img.webp" type="image/webp">
                            <img loading="lazy" src="img/home/best/casino-img.png" width="280"
                                 height="122" alt="image-casino">
                        </picture>
                    </div>
                    <div class="casinos-best__item-info-wrap">
                        <div class="casinos-best__item-title">Parimatch</div>
                        <div class="casinos-best__item-licensed">
                            <div class="casinos-best__item-licensed-item">Licensed</div>
                            <div class="casinos-best__item-licensed-item">Licensed</div>
                        </div>
                        <div class="casinos-best__item-reviews">
                            <div class="casinos-best__item-reviews-star">
                                <img src="img/home/best/star.svg" alt="star" width="11" height="11">
                                <div class="casinos-best__item-reviews-text">4.5</div>
                            </div>
                            <div class="casinos-best__item-reviews-message">
                                <img src="img/home/best/message.svg" alt="message" width="10" height="10">
                                <div class="casinos-best__item-reviews-text">22 reviews</div>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="casinos-best__item-plus-list">
                    <li class="casinos-best__item-plus-item">Company established in 1999 вiggest Bonus Ever an official license</li>
                    <li class="casinos-best__item-plus-item">Company established in 1999 вiggest Bonus Ever  Company established in 1999 вiggest Bonus Ever an official licensean official license</li>
                    <li class="casinos-best__item-plus-item">Company official licensean official license</li>
                    <li class="casinos-best__item-plus-item">Company official licensean official license Company established in 1999 вiggest Bonus Ever an </li>
                </ul>
                <div class="casinos-best__item-coupon">
                    <div class="casinos-best__item-coupon-title">Up 100% get bonus 90,000$</div>
                    <div class="casinos-best__item-coupon-text">Biggest Bonus Ever Bonus Registration</div>
                    <div class="casinos-best__item-coupon-buttons">
                        <a href="#" class="casinos-best__item-coupon-btn blue-btn">Play now</a>
                        <a href="#" class="casinos-best__item-coupon-btn yellow-btn">Get bonus</a>
                    </div>
                </div>
                <div class="casinos-best__item-showMore">More details</div>
            </li>


        </ul>
        <a href="#" class="casinos-best__link transparent-btn-blue">Show more</a>
    </div>
</section>