<section class="bonus">
  <div class="bonus__container">
    <h2 class="bonus__title title">Types of bonuses in poker rooms</h2>
    <p class="bonus__text">Each of the casinos on our list has earned a top-notch position because they all meet many criteria in our unique algorithm. The different factors we consider while evaluating an online casino are listed below.</p>
    <div class="bonus__tabs-wrap">
      <ul class="bonus__tabs">
        <li class="bonus__tabs-item">
          <button class="bonus__tabs-btn _active" aria-label="all">All</button>
        </li>
        <li class="bonus__tabs-item">
          <button class="bonus__tabs-btn" aria-label="About">About</button>
        </li>
        <li class="bonus__tabs-item">
          <button class="bonus__tabs-btn " aria-label="bonuses">Bonuses</button>
        </li>
        <li class="bonus__tabs-item">
          <button class="bonus__tabs-btn" aria-label="Banking">Banking</button>
        </li>
        <li class="bonus__tabs-item">
          <button class="bonus__tabs-btn" aria-label="Games">Games</button>
        </li>
        <li class="bonus__tabs-item">
          <button class="bonus__tabs-btn" aria-label="Info">Info</button>
        </li>
        <li class="bonus__tabs-item">
          <button class="bonus__tabs-btn" aria-label="Pro">Pro</button>
        </li>
      </ul>
    </div>
    <ul class="bonus__list">
      <li class="bonus__item">
        <div class="bonus__item-info ">
          <div class="bonus__item-info-text">
            <div class="bonus__info">
              <div class="bonus__info-title">Parimatch</div>
              <ul class="bonus__info-list">
                <li class="bonus__info-item">
                  <div class="bonus__info-item-title">Number of lines:</div>
                  <div class="bonus__info-item-text">nine</div>
                </li>
                <li class="bonus__info-item">
                  <div class="bonus__info-item-title">Min. bid:</div>
                  <div class="bonus__info-item-text">182</div>
                </li>
                <li class="bonus__info-item">
                  <div class="bonus__info-item-title">Number of drum:</div>
                  <div class="bonus__info-item-text">twenty</div>
                </li>
                <li class="bonus__info-item">
                  <div class="bonus__info-item-title">Max. bid:</div>
                  <div class="bonus__info-item-text">5000</div>
                </li>
              </ul>
              <div class="bonus__info-text">There are several features that bitcoin a popular choice for transactions at online casinos </div>
            </div>
          </div>
        </div>
        <div class="bonus__item-image">
          <picture>
            <source srcset="img/home/bonus/casino-img.webp" type="image/webp">
            <img loading="lazy" src="img/home/bonus/casino-img.png" width="161"
                 height="64" alt="image-casino">
          </picture>
        </div>
        <div class="bonus__item-wrapper">
        <div class="bonus__item-text">
          <div class="bonus__item-title">Parimatch</div>
          <div class="bonus__item-licensed">Licensed</div>
        </div>
        <a href="#" class="bonus__item-link">Play now</a>
        </div>
      </li>
      <li class="bonus__item">
        <div class="bonus__item-info ">
          <div class="bonus__item-info-text">
            <div class="bonus__info">
              <div class="bonus__info-title">Parimatch</div>
              <ul class="bonus__info-list">
                <li class="bonus__info-item">
                  <div class="bonus__info-item-title">Number of lines:</div>
                  <div class="bonus__info-item-text">nine</div>
                </li>
                <li class="bonus__info-item">
                  <div class="bonus__info-item-title">Min. bid:</div>
                  <div class="bonus__info-item-text">182</div>
                </li>
                <li class="bonus__info-item">
                  <div class="bonus__info-item-title">Number of drum:</div>
                  <div class="bonus__info-item-text">twenty</div>
                </li>
                <li class="bonus__info-item">
                  <div class="bonus__info-item-title">Max. bid:</div>
                  <div class="bonus__info-item-text">5000</div>
                </li>
              </ul>
              <div class="bonus__info-text">There are several features that bitcoin a popular choice for transactions at online casinos </div>
            </div>
          </div>
        </div>
        <div class="bonus__item-image">
          <picture>
            <source srcset="img/home/bonus/casino-img.webp" type="image/webp">
            <img loading="lazy" src="img/home/bonus/casino-img.png" width="161"
                 height="64" alt="image-casino">
          </picture>
        </div>
        <div class="bonus__item-wrapper">
          <div class="bonus__item-text">
            <div class="bonus__item-title">Parimatch</div>
            <div class="bonus__item-licensed">Licensed</div>
          </div>
          <a href="#" class="bonus__item-link">Play now</a>
        </div>
      </li>
      <li class="bonus__item">
        <div class="bonus__item-info ">
          <div class="bonus__item-info-text">
            <div class="bonus__info">
              <div class="bonus__info-title">Parimatch</div>
              <ul class="bonus__info-list">
                <li class="bonus__info-item">
                  <div class="bonus__info-item-title">Number of lines:</div>
                  <div class="bonus__info-item-text">nine</div>
                </li>
                <li class="bonus__info-item">
                  <div class="bonus__info-item-title">Min. bid:</div>
                  <div class="bonus__info-item-text">182</div>
                </li>
                <li class="bonus__info-item">
                  <div class="bonus__info-item-title">Number of drum:</div>
                  <div class="bonus__info-item-text">twenty</div>
                </li>
                <li class="bonus__info-item">
                  <div class="bonus__info-item-title">Max. bid:</div>
                  <div class="bonus__info-item-text">5000</div>
                </li>
              </ul>
              <div class="bonus__info-text">There are several features that bitcoin a popular choice for transactions at online casinos </div>
            </div>
          </div>
        </div>
        <div class="bonus__item-image">
          <picture>
            <source srcset="img/home/bonus/casino-img.webp" type="image/webp">
            <img loading="lazy" src="img/home/bonus/casino-img.png" width="161"
                 height="64" alt="image-casino">
          </picture>
        </div>
        <div class="bonus__item-wrapper">
          <div class="bonus__item-text">
            <div class="bonus__item-title">Parimatch</div>
            <div class="bonus__item-licensed">Licensed</div>
          </div>
          <a href="#" class="bonus__item-link">Play now</a>
        </div>
      </li>
      <li class="bonus__item">
        <div class="bonus__item-info ">
          <div class="bonus__item-info-text">
            <div class="bonus__info">
              <div class="bonus__info-title">Parimatch</div>
              <ul class="bonus__info-list">
                <li class="bonus__info-item">
                  <div class="bonus__info-item-title">Number of lines:</div>
                  <div class="bonus__info-item-text">nine</div>
                </li>
                <li class="bonus__info-item">
                  <div class="bonus__info-item-title">Min. bid:</div>
                  <div class="bonus__info-item-text">182</div>
                </li>
                <li class="bonus__info-item">
                  <div class="bonus__info-item-title">Number of drum:</div>
                  <div class="bonus__info-item-text">twenty</div>
                </li>
                <li class="bonus__info-item">
                  <div class="bonus__info-item-title">Max. bid:</div>
                  <div class="bonus__info-item-text">5000</div>
                </li>
              </ul>
              <div class="bonus__info-text">There are several features that bitcoin a popular choice for transactions at online casinos </div>
            </div>
          </div>
        </div>
        <div class="bonus__item-image">
          <picture>
            <source srcset="img/home/bonus/casino-img.webp" type="image/webp">
            <img loading="lazy" src="img/home/bonus/casino-img.png" width="161"
                 height="64" alt="image-casino">
          </picture>
        </div>
        <div class="bonus__item-wrapper">
          <div class="bonus__item-text">
            <div class="bonus__item-title">Parimatch</div>
            <div class="bonus__item-licensed">Licensed</div>
          </div>
          <a href="#" class="bonus__item-link">Play now</a>
        </div>
      </li>
      <li class="bonus__item">
        <div class="bonus__item-info ">
          <div class="bonus__item-info-text">
            <div class="bonus__info">
              <div class="bonus__info-title">Parimatch</div>
              <ul class="bonus__info-list">
                <li class="bonus__info-item">
                  <div class="bonus__info-item-title">Number of lines:</div>
                  <div class="bonus__info-item-text">nine</div>
                </li>
                <li class="bonus__info-item">
                  <div class="bonus__info-item-title">Min. bid:</div>
                  <div class="bonus__info-item-text">182</div>
                </li>
                <li class="bonus__info-item">
                  <div class="bonus__info-item-title">Number of drum:</div>
                  <div class="bonus__info-item-text">twenty</div>
                </li>
                <li class="bonus__info-item">
                  <div class="bonus__info-item-title">Max. bid:</div>
                  <div class="bonus__info-item-text">5000</div>
                </li>
              </ul>
              <div class="bonus__info-text">There are several features that bitcoin a popular choice for transactions at online casinos </div>
            </div>
          </div>
        </div>
        <div class="bonus__item-image">
          <picture>
            <source srcset="img/home/bonus/casino-img.webp" type="image/webp">
            <img loading="lazy" src="img/home/bonus/casino-img.png" width="161"
                 height="64" alt="image-casino">
          </picture>
        </div>
        <div class="bonus__item-wrapper">
          <div class="bonus__item-text">
            <div class="bonus__item-title">Parimatch</div>
            <div class="bonus__item-licensed">Licensed</div>
          </div>
          <a href="#" class="bonus__item-link">Play now</a>
        </div>
      </li>
      <li class="bonus__item">
        <div class="bonus__item-info ">
          <div class="bonus__item-info-text">
            <div class="bonus__info">
              <div class="bonus__info-title">Parimatch</div>
              <ul class="bonus__info-list">
                <li class="bonus__info-item">
                  <div class="bonus__info-item-title">Number of lines:</div>
                  <div class="bonus__info-item-text">nine</div>
                </li>
                <li class="bonus__info-item">
                  <div class="bonus__info-item-title">Min. bid:</div>
                  <div class="bonus__info-item-text">182</div>
                </li>
                <li class="bonus__info-item">
                  <div class="bonus__info-item-title">Number of drum:</div>
                  <div class="bonus__info-item-text">twenty</div>
                </li>
                <li class="bonus__info-item">
                  <div class="bonus__info-item-title">Max. bid:</div>
                  <div class="bonus__info-item-text">5000</div>
                </li>
              </ul>
              <div class="bonus__info-text">There are several features that bitcoin a popular choice for transactions at online casinos </div>
            </div>
          </div>
        </div>
        <div class="bonus__item-image">
          <picture>
            <source srcset="img/home/bonus/casino-img.webp" type="image/webp">
            <img loading="lazy" src="img/home/bonus/casino-img.png" width="161"
                 height="64" alt="image-casino">
          </picture>
        </div>
        <div class="bonus__item-wrapper">
          <div class="bonus__item-text">
            <div class="bonus__item-title">Parimatch</div>
            <div class="bonus__item-licensed">Licensed</div>
          </div>
          <a href="#" class="bonus__item-link">Play now</a>
        </div>
      </li>
      <li class="bonus__item">
        <div class="bonus__item-info ">
          <div class="bonus__item-info-text">
            <div class="bonus__info">
              <div class="bonus__info-title">Parimatch</div>
              <ul class="bonus__info-list">
                <li class="bonus__info-item">
                  <div class="bonus__info-item-title">Number of lines:</div>
                  <div class="bonus__info-item-text">nine</div>
                </li>
                <li class="bonus__info-item">
                  <div class="bonus__info-item-title">Min. bid:</div>
                  <div class="bonus__info-item-text">182</div>
                </li>
                <li class="bonus__info-item">
                  <div class="bonus__info-item-title">Number of drum:</div>
                  <div class="bonus__info-item-text">twenty</div>
                </li>
                <li class="bonus__info-item">
                  <div class="bonus__info-item-title">Max. bid:</div>
                  <div class="bonus__info-item-text">5000</div>
                </li>
              </ul>
              <div class="bonus__info-text">There are several features that bitcoin a popular choice for transactions at online casinos </div>
            </div>
          </div>
        </div>
        <div class="bonus__item-image">
          <picture>
            <source srcset="img/home/bonus/casino-img.webp" type="image/webp">
            <img loading="lazy" src="img/home/bonus/casino-img.png" width="161"
                 height="64" alt="image-casino">
          </picture>
        </div>
        <div class="bonus__item-wrapper">
          <div class="bonus__item-text">
            <div class="bonus__item-title">Parimatch</div>
            <div class="bonus__item-licensed">Licensed</div>
          </div>
          <a href="#" class="bonus__item-link">Play now</a>
        </div>
      </li>
      <li class="bonus__item">
        <div class="bonus__item-info ">
          <div class="bonus__item-info-text">
            <div class="bonus__info">
              <div class="bonus__info-title">Parimatch</div>
              <ul class="bonus__info-list">
                <li class="bonus__info-item">
                  <div class="bonus__info-item-title">Number of lines:</div>
                  <div class="bonus__info-item-text">nine</div>
                </li>
                <li class="bonus__info-item">
                  <div class="bonus__info-item-title">Min. bid:</div>
                  <div class="bonus__info-item-text">182</div>
                </li>
                <li class="bonus__info-item">
                  <div class="bonus__info-item-title">Number of drum:</div>
                  <div class="bonus__info-item-text">twenty</div>
                </li>
                <li class="bonus__info-item">
                  <div class="bonus__info-item-title">Max. bid:</div>
                  <div class="bonus__info-item-text">5000</div>
                </li>
              </ul>
              <div class="bonus__info-text">There are several features that bitcoin a popular choice for transactions at online casinos </div>
            </div>
          </div>
        </div>
        <div class="bonus__item-image">
          <picture>
            <source srcset="img/home/bonus/casino-img.webp" type="image/webp">
            <img loading="lazy" src="img/home/bonus/casino-img.png" width="161"
                 height="64" alt="image-casino">
          </picture>
        </div>
        <div class="bonus__item-wrapper">
          <div class="bonus__item-text">
            <div class="bonus__item-title">Parimatch</div>
            <div class="bonus__item-licensed">Licensed</div>
          </div>
          <a href="#" class="bonus__item-link">Play now</a>
        </div>
      </li>
    </ul>
    <a href="#" class="bonus__link transparent-btn-blue">Show more</a>
  </div>
</section>