<section class="content">
  <div class="content__container">
    <h2 class="content__title title">Page content</h2>
    <p class="content__text">There are several features that make bitcoin a popular choice for transactions at online casinos and elsewhere in the online space.</p>
    <ul class="content__list">
      <li class="content__item">
        <a href="#" class="content__link">Parimatch</a>
      </li>
      <li class="content__item">
        <a href="#" class="content__link">Slotus</a>
      </li>
      <li class="content__item">
        <a href="#" class="content__link">Brazilian casino</a>
      </li>
      <li class="content__item">
        <a href="#" class="content__link">Pokermatch</a>
      </li>
      <li class="content__item">
        <a href="#" class="content__link">Favbet casino</a>
      </li>
      <li class="content__item">
        <a href="#" class="content__link">Parimatch</a>
      </li>
      <li class="content__item">
        <a href="#" class="content__link">Favbet casino</a>
      </li>
    </ul>
  </div>
</section>