<section class="deposit">
    <div class="deposit__container">
        <h2 class="deposit__title title">How to Find the Best Australian Online Casino</h2>
        <p class="deposit__text">In Australia, there are tons of online casinos to choose from. As a result, players can
            now readily place their wagers from anywhere. However, the ability to choose a trustworthy and reputable
            casino is necessary and takes a lot of effort.</p>
        <ul class="deposit__list">
            <li class="deposit__item">
                <a href="#" class="deposit__item-link" aria-label="link-casino"></a>
                <div class="deposit__item-image">
                    <img src="img/home/deposit/authomat.svg" alt="authomat" width="140" height="140">
                </div>
                <div class="deposit__item-title">Online Casino</div>
                <p class="deposit__item-text">Therefore, Australian players are welcomed in foreign casinos. This is limited to only legitimately operating online casinos that allow Australian players.</p>
            </li>
            <li class="deposit__item">
                <a href="#" class="deposit__item-link" aria-label="link-casino"></a>
                <div class="deposit__item-image">
                    <img src="img/home/deposit/roulete.svg" alt="roulete" width="140" height="140">
                </div>
                <div class="deposit__item-title">Slot Machines</div>
                <p class="deposit__item-text">Therefore, Australian players are welcomed in foreign casinos. This is limited to only legitimately operating online casinos that allow Australian players.</p>
            </li>
            <li class="deposit__item">
                <a href="#" class="deposit__item-link" aria-label="link-casino"></a>
                <div class="deposit__item-image">
                    <img src="img/home/deposit/card.svg" alt="card" width="140" height="140">
                </div>
                <div class="deposit__item-title">Mobile Casino Sites</div>
                <p class="deposit__item-text">Therefore, Australian players are welcomed in foreign casinos. This is limited to only legitimately operating online casinos that allow Australian players.</p>
            </li>
            <li class="deposit__item">
                <a href="#" class="deposit__item-link" aria-label="link-casino"></a>
                <div class="deposit__item-image">
                    <img src="img/home/deposit/bingo.svg" alt="bingo" width="140" height="140">
                </div>
                <div class="deposit__item-title">Bonusy Casino</div>
                <p class="deposit__item-text">Therefore, Australian players are welcomed in foreign casinos. This is limited to only legitimately operating online casinos that allow Australian players.</p>
            </li>
            <li class="deposit__item">
                <a href="#" class="deposit__item-link" aria-label="link-casino"></a>
                <div class="deposit__item-image">
                    <img src="img/home/deposit/card-two.svg" alt="card" width="140" height="140">
                </div>
                <div class="deposit__item-title">Deposit And Withdrawal</div>
                <p class="deposit__item-text">Therefore, Australian players are welcomed in foreign casinos. This is limited to only legitimately operating online casinos that allow Australian players. </p>
            </li>
            <li class="deposit__item">
                <a href="#" class="deposit__item-link" aria-label="link-casino"></a>
                <div class="deposit__item-image">
                    <img src="img/home/deposit/card-three.svg" alt="card" width="140" height="140">
                </div>
                <div class="deposit__item-title">Software And Gameplay</div>
                <p class="deposit__item-text">Therefore, Australian players are welcomed in foreign casinos. This is limited to only legitimately operating online casinos that allow Australian players.</p>
            </li>
            <li class="deposit__item">
                <a href="#" class="deposit__item-link" aria-label="link-casino"></a>
                <div class="deposit__item-image">
                    <img src="img/home/deposit/keno.svg" alt="keno" width="140" height="140">
                </div>
                <div class="deposit__item-title">License</div>
                <p class="deposit__item-text">Therefore, Australian players are welcomed in foreign casinos. This is limited to only legitimately operating online casinos that allow Australian players.</p>
            </li>
            <li class="deposit__item">
                <a href="#" class="deposit__item-link" aria-label="link-casino"></a>
                <div class="deposit__item-image">
                    <img src="img/home/deposit/cube.svg" alt="cube" width="140" height="140">
                </div>
                <div class="deposit__item-title">Blog</div>
                <p class="deposit__item-text">Therefore, Australian players are welcomed in foreign casinos. This is limited to only legitimately operating online casinos that allow Australian players.</p>
            </li>

        </ul>
    </div>
</section>