<section class="bonuses" id="block1" data-da=".wrapper__container,1024,0">
    <h2 class="bonuses__title title-pop">Casino Favbet </h2>
    <p class="bonuses__text">To play Norwegian casino games online safely, we recommend only doing so on regulated and
        licensed casino platforms. Also, be sure that our team can only nominate titles that are safe to play Norwegian
        casino games online, we recommend only doing so on regulated and licensed casino platforms. Also, make sure that
        our team only</p>
    <ul class="bonuses__list">
        <li class="bonuses__item">
            <div class="bonuses__item-wrap">
                <div class="bonuses__item-row">
                    <div class="bonuses__item-image">
                        <picture>
                            <source srcset="img/page3/bonuses/casino-dep.webp" type="image/webp">
                            <img loading="lazy" src="img/page3/bonuses/casino-dep.png" width="40"
                                 height="40" alt="image-casino">
                        </picture>
                    </div>
                    <div class="bonuses__item-title">No deposit</div>
                </div>
                <div class="bonuses__item-text">Biggest Bonus Ever Bonus Registration USA online</div>
            </div>
            <div class="bonuses__item-info">
                <ul class="bonuses__item-list">
                    <li class="bonuses__item-item">
                        <div class="bonuses__item-item-title">Wager</div>
                        <div class="bonuses__item-item-info">35х</div>
                    </li>
                    <li class="bonuses__item-item">
                        <div class="bonuses__item-item-title">Wager</div>
                        <div class="bonuses__item-item-info">35х</div>
                    </li>
                </ul>
                <a href="#" class="bonuses__item-link blue-btn">Play now</a>
            </div>
        </li>
        <li class="bonuses__item">
            <div class="bonuses__item-wrap">
                <div class="bonuses__item-row">
                    <div class="bonuses__item-image">
                        <picture>
                            <source srcset="img/page3/bonuses/casino-spin.webp" type="image/webp">
                            <img loading="lazy" src="img/page3/bonuses/casino-spin.png" width="40"
                                 height="40" alt="image-casino">
                        </picture>
                    </div>
                    <div class="bonuses__item-title">No deposit</div>
                </div>
                <div class="bonuses__item-text">Biggest Bonus Ever Bonus Registration USA</div>
            </div>
            <div class="bonuses__item-info">
                <ul class="bonuses__item-list">
                    <li class="bonuses__item-item">
                        <div class="bonuses__item-item-title">Wager</div>
                        <div class="bonuses__item-item-info">35х</div>
                    </li>
                    <li class="bonuses__item-item">
                        <div class="bonuses__item-item-title">Wager</div>
                        <div class="bonuses__item-item-info">35х</div>
                    </li>
                </ul>
                <a href="#" class="bonuses__item-link blue-btn">Play now</a>
            </div>
        </li>
        <li class="bonuses__item">
            <div class="bonuses__item-wrap">
                <div class="bonuses__item-row">
                    <div class="bonuses__item-image">
                        <picture>
                            <source srcset="img/page3/bonuses/casino-light.webp" type="image/webp">
                            <img loading="lazy" src="img/page3/bonuses/casino-light.png" width="40"
                                 height="40" alt="image-casino">
                        </picture>
                    </div>
                    <div class="bonuses__item-title">No deposit</div>
                </div>
                <div class="bonuses__item-text">Biggest Bonus Ever Bonus Registration</div>
            </div>
            <div class="bonuses__item-info">
                <ul class="bonuses__item-list">
                    <li class="bonuses__item-item">
                        <div class="bonuses__item-item-title">Wager</div>
                        <div class="bonuses__item-item-info">35х</div>
                    </li>
                    <li class="bonuses__item-item">
                        <div class="bonuses__item-item-title">Wager</div>
                        <div class="bonuses__item-item-info">35х</div>
                    </li>
                </ul>
                <a href="#" class="bonuses__item-link blue-btn">Play now</a>
            </div>
        </li>
        <li class="bonuses__item">
            <div class="bonuses__item-wrap">
                <div class="bonuses__item-row">
                    <div class="bonuses__item-image">
                        <picture>
                            <source srcset="img/page3/bonuses/casino-prize.webp" type="image/webp">
                            <img loading="lazy" src="img/page3/bonuses/casino-prize.png" width="40"
                                 height="40" alt="image-casino">
                        </picture>
                    </div>
                    <div class="bonuses__item-title">No deposit</div>
                </div>
                <div class="bonuses__item-text">Biggest Bonus Ever Bonus Registration USA online</div>
            </div>
            <div class="bonuses__item-info">
                <ul class="bonuses__item-list">
                    <li class="bonuses__item-item">
                        <div class="bonuses__item-item-title">Wager</div>
                        <div class="bonuses__item-item-info">35х</div>
                    </li>
                    <li class="bonuses__item-item">
                        <div class="bonuses__item-item-title">Wager</div>
                        <div class="bonuses__item-item-info">35х</div>
                    </li>
                </ul>
                <a href="#" class="bonuses__item-link blue-btn">Play now</a>
            </div>
        </li>
        <li class="bonuses__item">
            <div class="bonuses__item-wrap">
                <div class="bonuses__item-row">
                    <div class="bonuses__item-image">
                        <picture>
                            <source srcset="img/page3/bonuses/casino-reload.webp" type="image/webp">
                            <img loading="lazy" src="img/page3/bonuses/casino-reload.png" width="40"
                                 height="40" alt="image-casino">
                        </picture>
                    </div>
                    <div class="bonuses__item-title">No deposit</div>
                </div>
                <div class="bonuses__item-text">Biggest Bonus Ever Bonus Registration USA online</div>
            </div>
            <div class="bonuses__item-info">
                <ul class="bonuses__item-list">
                    <li class="bonuses__item-item">
                        <div class="bonuses__item-item-title">Wager</div>
                        <div class="bonuses__item-item-info">35х</div>
                    </li>
                    <li class="bonuses__item-item">
                        <div class="bonuses__item-item-title">Wager</div>
                        <div class="bonuses__item-item-info">35х</div>
                    </li>
                </ul>
                <a href="#" class="bonuses__item-link blue-btn">Play now</a>
            </div>
        </li>
        <li class="bonuses__item">
            <div class="bonuses__item-wrap">
                <div class="bonuses__item-row">
                    <div class="bonuses__item-image">
                        <picture>
                            <source srcset="img/page3/bonuses/casino-cash.webp" type="image/webp">
                            <img loading="lazy" src="img/page3/bonuses/casino-cash.png" width="40"
                                 height="40" alt="image-casino">
                        </picture>
                    </div>
                    <div class="bonuses__item-title">No deposit</div>
                </div>
                <div class="bonuses__item-text">Biggest Bonus Ever Bonus Registration USA online</div>
            </div>
            <div class="bonuses__item-info">
                <ul class="bonuses__item-list">
                    <li class="bonuses__item-item">
                        <div class="bonuses__item-item-title">Wager</div>
                        <div class="bonuses__item-item-info">35х</div>
                    </li>
                    <li class="bonuses__item-item">
                        <div class="bonuses__item-item-title">Wager</div>
                        <div class="bonuses__item-item-info">35х</div>
                    </li>
                </ul>
                <a href="#" class="bonuses__item-link blue-btn">Play now</a>
            </div>
        </li>
    </ul>
    <a href="#" class="bonuses__all-link transparent-btn-blue">Show more</a>
</section>