<div class="casino-online__links" data-da=".wrapper__container,1024,0">
    <div class="casino-online__links-item">
        <div class="casino-online__links-item-title">About Betsson</div>
        <div class="casino-online__links-item-list">
            <a href="#" class="casino-online__links-item-link">Casino official</a>
            <a href="#" class="casino-online__links-item-link">About Betsson</a>
            <a href="#" class="casino-online__links-item-link">Casino official</a>
            <a href="#" class="casino-online__links-item-link">About Betsson</a>
        </div>
    </div>
    <div class="casino-online__links-item">
        <div class="casino-online__links-item-title">About Betsson</div>
        <div class="casino-online__links-item-list">
            <a href="#" class="casino-online__links-item-link">Casino official</a>
            <a href="#" class="casino-online__links-item-link">About Betsson</a>
            <a href="#" class="casino-online__links-item-link">Casino official</a>
            <a href="#" class="casino-online__links-item-link">About Betsson</a>
        </div>
    </div>
    <div class="casino-online__links-item">
        <div class="casino-online__links-item-title">About Betsson</div>
        <div class="casino-online__links-item-list">
            <a href="#" class="casino-online__links-item-link">Casino official</a>
            <a href="#" class="casino-online__links-item-link">About Betsson</a>
            <a href="#" class="casino-online__links-item-link">Casino official</a>
            <a href="#" class="casino-online__links-item-link">About Betsson</a>
        </div>
    </div>
    <div class="casino-online__links-item">
        <div class="casino-online__links-item-title">About Betsson</div>
        <div class="casino-online__links-item-list">
            <a href="#" class="casino-online__links-item-link">Casino official</a>
            <a href="#" class="casino-online__links-item-link">About Betsson</a>
            <a href="#" class="casino-online__links-item-link">Casino official</a>
            <a href="#" class="casino-online__links-item-link">About Betsson</a>
        </div>
    </div>
    <div class="casino-online__links-item">
        <div class="casino-online__links-item-title">About Betsson</div>
        <div class="casino-online__links-item-list">
            <a href="#" class="casino-online__links-item-link">Casino official</a>
            <a href="#" class="casino-online__links-item-link">About Betsson</a>
            <a href="#" class="casino-online__links-item-link">Casino official</a>
            <a href="#" class="casino-online__links-item-link">About Betsson</a>
        </div>
    </div>
    <div class="casino-online__links-item">
        <div class="casino-online__links-item-title">About Betsson</div>
        <div class="casino-online__links-item-list">
            <a href="#" class="casino-online__links-item-link">Casino official</a>
            <a href="#" class="casino-online__links-item-link">About Betsson</a>
            <a href="#" class="casino-online__links-item-link">Casino official</a>
            <a href="#" class="casino-online__links-item-link">About Betsson</a>
        </div>
    </div>
</div>