<aside class="quote" id="block2">
    <h2 class="quote__title title-pop">Casino official website</h2>
    <div class="quote__row">
        <div class="quote__image">
            <picture>
                <source srcset="img/home/news/author.webp" type="image/webp">
                <img loading="lazy" src="img/home/news/author.png" width="48"
                     height="48" alt="image-author">
            </picture>
        </div>
        <div class="quote__info">
            <div class="quote__info-wrap">
                <div class="quote__name">Name</div>
                <div class="quote__licensed">Microgaming</div>
            </div>
            <div class="quote__date">April 8, 2021</div>
        </div>
    </div>
    <div class="quote__text">To play Norwegian casino games online safely, we recommend only doing so on regulated and
        licensed casino platforms. Also, make sure that our team can only nominate titles that
    </div>
</aside>
