.blue-btn{
  color: $yellow;
  border-radius: 100px;
  background: $blue;
  transition: background-color $transition;
  &:hover{
    background: $blue-hover;
  }
}


.yellow-btn{
  border-radius: 100px;
  background: $yellow;
  color: $blue;
  transition: background-color $transition;
  &:hover{
    background: $yellow-hover;
  }
}

.mint-btn{
  border-radius: 100px;
  background: $green-light;
  color: $blue;
  transition: background-color $transition;
  &:hover{
    background: $green-light-hover;
  }
}

.transparent-btn-blue{
  border-radius: 100px;
  color: $blue;
  border: 2px solid $yellow;
  background: transparent;
  transition: border-color $transition;
  &:hover{
    border-color: $yellow-hover;
  }
}

.transparent-btn-yellow{
  border-radius: 100px;
  color: $yellow;
  border: 2px solid $yellow;
  background: transparent;
  transition: border-color $transition, color $transition;
  &:hover{
    border-color: $yellow-hover;
    color: $yellow-hover;
  }
}


