// colors

$white-hover: #c5c3c3;
;
$grey-white: #E7EAEE;

$orange:  #E1712C;
$white-grey: #FDFDFD;
$burgundy: #691A2E;
$burgundy-sub-bg: #4a101d;


$pink-hover: #dec2c8;
$grey-tabs: #1D1C0C;


$green-circle: #31A265;
$red-circle: #FF5767;
$yellow-circle: #FF7D04;
$grey-bg-circle: #E8E8E8;


$burgundy-gradient: linear-gradient(252.32deg, #8A2336 0%, #631728 28.99%, #340918 100%);
$burgunde-circle-gradient: linear-gradient(80.12deg, #852134 0%, #420D1D 104.17%);
$burgunde-header-gradient: linear-gradient(180deg, #490F1F 0%, #400C1C 48.21%, #290614 92.47%);

$black-font-orangeBtn: black;


$orangeBtn: #E1712D;
$orangeBtn-hover: #C26226;
$boxShadowBtn: inset 0px -4px 0px rgba(0, 0, 0, 0.1), inset 0px 4px 0px rgba(255, 255, 255, 0.2);

$greyBtn: rgba(255, 255, 255, 0.2);
$greyBtn-hover: rgba(255, 255, 255, 0.1);

$burgundyBtn: #691A2E;
$burgundyBtn-hover:  #521424;





//NEW

// colors
$pink: #FCEDF0;
$black-one: #111111;
$black: #1D1C0C;
$green: #38632E;
$green-white: #009C37;
$blue: #1D2C53;
$blue-reviews: #243A64;
$blue-hover: #263c71;
$blue-white: #243A64;
$white: #FFFFFF;
$grey: #808080;
//$grey-licensed: #6B7E89;
$grey-licensed: #000000;
$grey-licensed-bg: #F6F6F6;
$grey-text: #dadada;
$grey-footer: #C1C1D4;
$yellow: #F5D955;
$yellow-hover: #d7bc3b;
$pink-title: #FCEDF0;
$green-light: #E0F8DA;
$green-light-hover: #aed3a9;
$border-tabs-color: rgba(56, 99, 46, 0.4);
$border-tabs-color-grey: rgba(255, 255, 255, 0.1);


$box-shadow-card: 0px 2px 4px rgba(0, 0, 0, 0.25);

$blue-gradient: linear-gradient(180deg, #1D2C53 0%, #152241 100%);
$cookie-gradient:  linear-gradient(90deg, #38632E 67.31%, #F5D955 90.08%);

//transition
$transition: .3s ease;

//fonts
$font-popins-reg: 'Popins-reg', sans-serif;
$font-popins-semb: 'Popins-semb', sans-serif;
$font-rougant: 'RougantRough', sans-serif;

